<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="active menu-item">
      <a href="#">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start main-content -->
      <div class="main-content-area">
        <!-- Section: page title -->
        <section class="page-title tm-page-title page-title-standard layer-overlay overlay-dark-8 bg-img-center"
          data-tm-bg-img="images/bg/bg1.jpg">
          <div class="container padding-medium">
            <div class="row">
              <div class="col-md-12 title-content text-center">
                <h2 class="title">About Us</h2>
                <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                  <div class="breadcrumbs">
                    <span><a href="#" rel="home">Home</a></span>
                    <span><i class="fa fa-angle-right"></i></span>
                    <span class="active"><span>About Us</span></span>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </section>
        </section>

        <!-- Start  Divider -->
        <section>
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <div
                  class="tm-sc-icon-box icon-box icon-top tm-iconbox-icontype-font-icon iconbox-style3-moving-border-bottom text-center iconbox-box-shadow-on-hover iconbox-default-padding iconbox-centered-in-responsive iconbox-hover-move-up-animation iconbox-border-radius iconbox-theme-colored1 icon-position-icon-top text-center border-1px">
                  <div class="icon-box-wrapper">
                    <div class="icon-wrapper">
                      <a class="icon icon-type-font-icon  icon-default">
                        <i class="fas fa-notes-medical font-size-80"></i>
                      </a>
                    </div>
                    <div class="icon-text">
                      <h5 class="icon-box-title mt-15 mb-10 ">HIPPA Compliance</h5>
                      <div class="content">
                        <p>All patient information is collected through our secure, HIPPA compliant form and never
                          shared
                          with anyone</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="tm-sc-icon-box icon-box icon-top tm-iconbox-icontype-font-icon iconbox-style3-moving-border-bottom text-center iconbox-box-shadow-on-hover iconbox-default-padding iconbox-centered-in-responsive iconbox-hover-move-up-animation iconbox-border-radius iconbox-theme-colored1 icon-position-icon-top text-center border-1px">
                  <div class="icon-box-wrapper">
                    <div class="icon-wrapper">
                      <a class="icon icon-type-font-icon  icon-default">
                        <i class="flaticon-medical-caduceus3 font-size-80"></i>
                      </a>
                    </div>
                    <div class="icon-text">
                      <h5 class="icon-box-title mt-15 mb-10">Experienced Physicians</h5>
                      <div class="content">
                        <p>Our expert providers provide top quality care and can help you get the treatment you need to
                          reach your goals in no time</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="tm-sc-icon-box icon-box icon-top tm-iconbox-icontype-font-icon iconbox-style3-moving-border-bottom text-center iconbox-box-shadow-on-hover iconbox-default-padding iconbox-centered-in-responsive iconbox-hover-move-up-animation iconbox-border-radius iconbox-theme-colored1 icon-position-icon-top text-center border-1px">
                  <div class="icon-box-wrapper">
                    <div class="icon-wrapper">
                      <a class="icon icon-type-font-icon  icon-default">
                        <i class="fas fa-laptop-medical font-size-80"></i>
                      </a>
                    </div>
                    <div class="icon-text">
                      <h5 class="icon-box-title mt-15 mb-10">Telemedicine Appointments</h5>
                      <div class="content">
                        <p>Can't make it to our location? We offer telemedicine appointments right from your computer,
                          tablet, or smart phone</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="tm-sc-icon-box icon-box icon-top tm-iconbox-icontype-font-icon iconbox-style3-moving-border-bottom text-center iconbox-box-shadow-on-hover iconbox-default-padding iconbox-centered-in-responsive iconbox-hover-move-up-animation iconbox-border-radius iconbox-theme-colored1 icon-position-icon-top text-center border-1px">
                  <div class="icon-box-wrapper">
                    <div class="icon-wrapper">
                      <a class="icon icon-type-font-icon  icon-default">
                        <i class="fas fa-prescription font-size-80"></i>
                      </a>
                    </div>
                    <div class="icon-text">
                      <h5 class="icon-box-title mt-15 mb-10">Latest Treatments</h5>
                      <div class="content">
                        <p>We offer the latest treatments to help you lose weight, get those gains at the gym, and have
                          energy like you used to </p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section class="divider layer-overlay overlay-white-9 parallax" data-parallax-ratio="0.1"
          data-tm-bg-img="images/bg/bg2.jpg">
          <div class="container pt-0">
            <div class="row">
              <div class="col-lg-8">
                <h2 class="mb-0">Dr. Theodora Saddoris</h2>
                <h4 class="text-gray-aaa mb-20">Doctor of Internal Medicine</h4>
                <p class="font-size-18">Theodora Saddoris is currently practicing medicine in Columbus IN, since 1988
                  She has a BS in Microbiology from Colorado State University.
                  Received her medical degree from American University of the Caribbean (AUC) in
                  1982.
                  Did Intern and Residency at Deaconess Hospital, an affiliate of St. Louis University in
                  St. Louis MO from 1982 to 1985.
                  Board Certified in Internal Medicine 9-1985
                  Certified from the American Board Clinical Lipidology July 2015 (FNLA)
                  Board Certified in Prevention Medicine—Addiction Specialist 1-2018
                  Fellow of American Society of Addiction Medicine (FSAM) June 2021.
                  Currently Treasurer of Indiana Society of Addiction Medicine from 2020.
                  Published a book, Addiction Survival Guidebook—for friend, family and fellow addicts,
                  in 2021.
                  Became a minister in 2022.<br>
                  She has done numerous presentations involving mental health and addiction. She
                  has practiced preventive medicine since 1990 involving all aspects of care affecting
                  the body, mind and spirit. She has developed several products for weight loss and
                  improving metabolism. Her goal has always been to break through anything that is
                  hindering a person into achieving and becoming all they were meant to be. This
                  spirit of wanting to help is what TestRxMD is built upon.</p>
              </div>
              <div class="col-lg-4">
                <div class="tm-sc-animated-layer-advanced">
                  <div class="animated-layer-advanced-inner clearfix">
                    <div class="layer-image-wrapper tm-animation animate pb-100">
                      <div class="layer-image">
                        <img src="images/testrxmd/saddoris.jpg" class="fullwidth wow fadeInDownBig animation-delay1"
                          alt="TestRxMD Doctors" />
                      </div>
                    </div>
                    <div class="layer-image-wrapper tm-animation move-up bg-theme-colored1 p-30"
                      style="left:0;bottom: 0px;top: auto;">
                      <img src="images/testrxmd/saddoris.jpg" class="fullwidth wow fadeInDownBig animation-delay1"
                        alt="TestRxMD Doctors" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8">
                <h2 class="mb-0 mt-90">Dr. Tomi Garza</h2>
                <h4 class="text-gray-aaa mb-20">Family Nurse Practitioner</h4>
                <p class="font-size-18">Tomi Garza, APRN, FNP-C is a Family Nurse Practitioner. She previously worked in
                  the Emergency Department for 11 years before continuing her education to become a Nurse Practitioner.
                  She graduated from Texas Tech University Health Sciences Center with her Masters of Science in
                  Nursing- Family Practice. She has since worked in primary care, preventative care, and acute care. She
                  has many years of experience with telemedicine as well. She truly enjoys caring for people and helping
                  improve the lives of her patients. Outside of work, Tomi spends time with her husband and 3 sons. They
                  enjoy riding motorcycles, dirt bikes, 4-wheelers, and all things sports.
                </p>
              </div>
              <div class="col-lg-4">
                <div class="tm-sc-animated-layer-advanced">
                  <div class="animated-layer-advanced-inner clearfix">
                    <div class="layer-image-wrapper tm-animation animate pb-100">
                      <div class="layer-image">
                        <img src="images/testrxmd/garza.jpg" class="fullwidth wow fadeInDownBig animation-delay1"
                          alt="TestRxMD Doctors" />
                      </div>
                    </div>
                    <div class="layer-image-wrapper tm-animation move-up bg-theme-colored1 p-30"
                      style="left:0;bottom: 0px;top: auto;">
                      <img src="images/testrxmd/garza.jpg" class="fullwidth wow fadeInDownBig animation-delay1"
                        alt="TestRxMD Doctors" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Divider -->

        <!-- Section: Services -->
        <section class="bg-theme-colored1-gradient">
          <div class="container pb-60 ">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="tm-sc-services services-style-current-theme2">
                  <div class="tm-service bg-white">
                    <div class="thumb">
                      <img class="tm-animation move-right4" src="images/medicine/ws1.jpg" alt="image">
                      <a href="#" class="icon bg-theme-colored1"><i class="flaticon-medical-ambulance14"></i></a>
                    </div>
                    <div class="content">
                      <h4 class="mt-0 font-20">Cutting Edge Facility</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="tm-sc-services services-style-current-theme2">
                  <div class="tm-service bg-white">
                    <div class="thumb">
                      <img class="tm-animation move-down4" src="images/medicine/ws3.jpg" alt="image">
                      <a href="#" class="icon bg-theme-colored1"><i class="flaticon-medical-stethoscope10"></i></a>
                    </div>
                    <div class="content">
                      <h4 class="mt-0 font-20">Lab Services</h4>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="tm-sc-services services-style-current-theme2">
                  <div class="tm-service bg-white">
                    <div class="thumb">
                      <img class="tm-animation move-up4" src="images/medicine/ws7.jpg" alt="image">
                      <a href="#" class="icon bg-theme-colored1"><i class="flaticon-medical-hospital35"></i></a>
                    </div>
                    <div class="content">
                      <h4 class="mt-0 font-20">Comprehensive Plan</h4>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="tm-sc-services services-style-current-theme2">
                  <div class="tm-service bg-white">
                    <div class="thumb">
                      <img class="tm-animation move-left4" src="images/medicine/ws2.jpg" alt="image">
                      <a href="#" class="icon bg-theme-colored1"><i class="flaticon-medical-illness"></i></a>
                    </div>
                    <div class="content">
                      <h4 class="mt-0 font-20">Continued Care</h4>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section>
          <div class="container pt-20">
            <div class="section-content">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-7">
                  <h4 class="text-theme-colored4">About Us</h4>
                  <img src="images/testrxmd/Test-RXMD-Small-D-Text.png" alt="logo">
                  <h4>We Beleived Our Advanced Treatment Options Can Help Get The Old You Back!</h4>
                  <p>We are here to give you the best possible service, so that you leave healthier than you arrived,
                    and
                    with more options for good health. We work collaboratively and cooperatively to ensure you get the
                    very best care, regardless of your needs. </p>
                  <div class="row mb-40">
                    <div class="col-md-6">
                      <div class="tm-sc-unordered-list list-style5">
                        <ul>
                          <li>Expert Caring Physicians</li>
                          <li>Telemedicine Appointments</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="tm-sc-unordered-list list-style5">
                        <ul>
                          <li>Feel like Home Services</li>
                          <li>Easy and Affordable Treatments</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="btn-view-details">
                        <a href="/checkout" class="btn btn-theme-colored1 btn-sm mb-md-30"> Get
                          Started </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5">
                  <img src="images/about/w1.jpg" class="fullwidth wow fadeInDownBig animation-delay1"
                    alt="TestRxMD Doctors" />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Divider -->

        <!-- Section: Have Any Question -->
        <section class="bg-theme-colored1-gradient section-typo-light">
          <div class="container">
            <div class="tm-sc-section-title section-title section-title-style1 text-center mb-30">
              <div class="title-wrapper">
                <h2 class="title" style="line-height: 1.3">Have Questions?</h2>
                <p>Give us a call, send us an email, or stop by our Columbus, Indiana location for answers!</p>
                <div class="title-seperator-line"></div>
              </div>
            </div>
            <div class="section-content mt-30">
              <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <a href="tel:812-296-6499">
                    <div
                      class="icon-box text-center iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate mb-50">
                      <div class="icon-box-wrapper">
                        <div class="icon-wrapper mb-30">
                          <a href="tel:812-296-6499" class="icon icon-type-font-icon icon-dark icon-circled">
                            <i class="flaticon-contact-044-call-1"></i>
                          </a>
                        </div>
                        <div class="icon-text">
                          <a href="tel:812-296-6499">
                            <h5 class="icon-box-title mt-0">Phone</h5>
                            <div class="content">(812) 296-6499</div>
                          </a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div
                    class="icon-box text-center iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate mb-50">
                    <div class="icon-box-wrapper">
                      <div class="icon-wrapper mb-30">
                        <a href="mailto:Info@TestRxMD.com" class="icon icon-type-font-icon icon-dark icon-circled"> <i
                            class="flaticon-contact-043-email-1"></i>
                        </a>
                      </div>
                      <div class="icon-text">
                        <a href="mailto:Info@TestRxMD.com">
                          <h5 class="icon-box-title mt-0">Email</h5>
                          <div class="content">Info@TestRxMD.com</div>
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div
                    class="icon-box text-center iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate mb-50">
                    <div class="icon-box-wrapper">
                      <div class="icon-wrapper mb-30">
                        <a href="https://goo.gl/maps/yY7jJaMh5f8JuRQ27"
                          class="icon icon-type-font-icon icon-dark icon-circled"> <i
                            class="flaticon-contact-025-world"></i> </a>
                      </div>
                      <div class="icon-text">
                        <a href="https://goo.gl/maps/yY7jJaMh5f8JuRQ27">
                          <h5 class="icon-box-title mt-0">Address</h5>
                          <div class="content">3005 N National Rd, Columbus, IN 47203</div>
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Divider -->

      </div>
      <!-- end main-content -->
      <%- include('../partials/footer') %>


        <!-- Footer Scripts -->
        <script src="js/custom.js"></script>

</body>

</html>
<script src="js/api_call.js"></script>
