<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="#">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="active menu-item">
      <a href="/account">Account</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start main-content -->

      <h2>Account Page</h2>

      <div class="block">

        <form action="/account_update" method="post">

          <!-- This is just a trash form for now as a placeholder -->
          <h4>This will all be changed to be a nice dashboard showing the user all their therapies, past and upcoming
            appointments, when they need a refill, when they have to see the doctor next, when they have to get labs
            next, see their tracking info, report an issue, and do all the stuff below like changing your address or
            email or password.</h4>

          <h5>Need to change your email?</h5>
          <label for="email">Change your email address</label>
          <input type="email" value="{{ account.email }}" name="email" id="email" placeholder="Email Address">

          <label for="old_password">Old Password</label>
          <input type="password" name="old_password" id="old_password" placeholder="Old Password">
          <label for="password">New Password</label>
          <input type="password" name="password" id="password" placeholder="New Password">
          <label for="cpassword">Confirm Password</label>
          <input type="password" name="confirm_pass" id="confirm_pass" placeholder="Confirm Password">



          <br>

          <input class="profile-btn" type="submit" value="Save" name="save">



        </form>

        <!-- end main-content -->
        <%- include('../partials/footer') %>

          <!-- Footer Scripts -->
          <script src="js/custom.js"></script>
