<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link href="css/voltage.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="/about">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a href="/account">Account</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-4 mt-3">
            <p class="m-0 mt-4">3005N National RD
                Columbus IN47201</p>
            <p class="m-0"><strong>TEL: 812-296-6499</strong> </p>
            <p class="m-0"><strong>Fax: 812-289-8966</strong></p>
          </div>
          <div class="col-md-4 mt-3">
            <h2>Product Catalog
                March2023Revision</h2>
          </div>
          <div class="col-md-4 mt-3 ml-3 text-md-right" id="QRcode">
            <img id="QRcode_image" src="" style="margin-left: 9rem;" />
          </div>
        </div>
      </div>
    <div class="m-4">
        <div class="row">
          <div class="container">
            <div class="table-responsive" id="table-medicaction-info">
              <table class="table table-striped" width="100%">
                <thead id="medicaction_info_title">
                  <tr>
                    <th>Medication Name</th>
                    <th>Strength</th>
                    <th>Form</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody id="medicaction_info_body">
                  <tr>
                    <td colspan="4"><strong>FEMALE HORMONE THERAPY</strong></td>
                  </tr>
                  <tr>
                    <td>SINGLE Hormone (women)</td>
                    <td>ANY</td>
                    <td>Cream</td>
                    <td>30 days</td>
                  </tr>
                  <tr>
                    <td>TWO Hormones (women)</td>
                    <td>ANY</td>
                    <td>Cream</td>
                    <td>30 days</td>
                  </tr>
                  <tr>
                    <td>THREE Hormones (women)</td>
                    <td>ANY</td>
                    <td>Cream</td>
                    <td>30 days</td>
                  </tr>
                  <tr>
                    <td>FOUR Hormones (women)</td>
                    <td>ANY</td>
                    <td>Cream</td>
                    <td>30 days</td>
                  </tr>
                  <tr>
                    <td>Progesterone Caps</td>
                    <td>100mg, 200mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Progesterone Caps</td>
                    <td>300mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td >*Troche or Sub-L drops One Hormone</td>
                    <td></td>
                    <td></td>
                    <td>EACH/per mL</td>
                  </tr>
                  <tr>
                    <td >*Troche or Sub-L drops Two Hormone</td>
                    <td></td>
                    <td></td>
                    <td>EACH/per mL</td>
                  </tr>
                  <tr>
                    <td >*Troche or Sub-L drops Three Hormone</td>
                    <td></td>
                    <td></td>
                    <td>EACH/per mL</td>
                  </tr>
                 
                  <tr>
                    <td>Thyroid</td>
                    <td>Up to 3gr</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Armour Thyroid</td>
                    <td>30mg (1/2gr)</td>
                    <td>Tablet</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Armour Thyroid</td>
                    <td>60mg (1gr)</td>
                    <td>Tablet</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Armour Thyroid</td>
                    <td>90mg (1.5gr)</td>
                    <td>Tablet</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Armour Thyroid</td>
                    <td>120mg (2gr)</td>
                    <td>Tablet</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Armour Thyroid</td>
                    <td>180mg (3gr)</td>
                    <td>Tablet</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Armour Thyroid</td>
                    <td>240mg (4gr)</td>
                    <td>Tablet</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td colspan="4">NP Thyroid availability has been limited, contact your rep or the pharmacy for availability and pricing</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>MALE HORMONE THERAPY</strong></td>
                  </tr>
                  <tr>
                <td>Testosterone</td>
                <td>Cream Up to 100mg/ml</td>
                <td>Cream</td>
                <td>0-30grams</td>
                </tr>
                <tr>
                <td>Testosterone</td>
                <td>Cream Up to 200mg/ml</td>
                <td>Cream</td>
                <td>0-30grams</td>
                </tr>
                <tr>
                <td>Testosterone</td>
                <td>Cream + 1 hormone (Chrysin) Test up to 100mg/ml</td>
                <td>Cream</td>
                <td>0-30grams</td>
                </tr>
                <tr>
                <td>Testosterone Cypionate (MFG)</td>
                <td>200mg/ml</td>
                <td>INJ</td>
                <td>10ml</td>
                </tr>
                <tr>
                <td>Testosterone Cypionate/Anastrozole</td>
                <td>200mg/1mg/ml</td>
                <td>INJ</td>
                <td>5ml</td>
                </tr>
                <tr>
                <td>Testosterone Cyp/Enan 90/10</td>
                <td>200mg/ml</td>
                <td>INJ</td>
                <td>5ml</td>
                </tr>
                <tr>
                <td>Testosterone Enanthate</td>
                <td>200mg/ml</td>
                <td>INJ</td>
                <td>5ml</td>
                </tr>
                    <tr>
                    <td>Testosterone Cyp/Enan/Propionate 100/100/50</td>
                    <td>250mg/ml</td>
                    <td>INJ</td>
                    <td>5ml</td>
                    </tr>
                    <tr>
                    <td>Nandrolone</td>
                    <td>200mg/ml</td>
                    <td>INJ</td>
                    <td>5ml</td>
                    </tr>
                    <tr>
                    <td>Nandrolone</td>
                    <td>100mg/ml</td>
                    <td>Gel</td>
                    <td>30g</td>
                    </tr>
                    <tr>
                    <td>SINGLE hormone (male)</td>
                    <td>Up to 75mg</td>
                    <td>Troche/SL drops</td>
                    <td>EACH/per mL</td>
                    </tr>
                    <tr>
                    <td>TWO hormones (male)</td>
                    <td>75mg-200mg</td>
                    <td>Troche/SL drops</td>
                    <td>EACH/per mL</td>
                    </tr>
                    <tr>
                    <td>THREE hormones (male)</td>
                    <td>75mg - 200mg</td>
                    <td>Troche/SL drops</td>
                    <td>EACH/per mL</td>
                    </tr>
                    <tr>
                    <td>Anastrozole</td>
                    <td>0.5mg - 0.75mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                    </tr>
                    <tr>
                    <td>Anastrozole</td>
                    <td>1mg</td>
                    <td>Tablet</td>
                    <td>EACH</td>
                    </tr>
                    <tr>
                    <td>Anastrozole</td>
                    <td>1mg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                    </tr>
                    <tr>
                    <td>Low-dose Naltrexone</td>
                    <td>1mg-1.49mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                    </tr>
                    <tr>
                    <td>Low-dose Naltrexone</td>
                    <td>1.5mg-3mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                    </tr>
                    <tr>
                    <td>Low-dose Naltrexone</td>
                    <td>4.5mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                    </tr>
                    <tr>
                    <td>DIM/Clomiphene</td>
                    <td>200mg/25mg</td>
                    <td>Caps</td>
                    <td>#30</td>
                    </tr>
                    <tr>
                    <td>DIM/Clomiphene</td>
                    <td>200mg/35mg</td>
                    <td>Caps</td>
                    <td>#30</td>
                    </tr>
                    <tr>
                        <td>Enclomiphene</td>
                        <td>25mg</td>
                        <td>Caps</td>
                        <td>EACH</td>
                    </tr>
                    <tr>
                        <td>Gonadorelin</td>
                        <td>500mcg</td>
                        <td>Troche</td>
                        <td>EACH</td>
                    </tr>
                    <tr>
                        <td>Gonadorelin</td>
                        <td>0.2mg/ml</td>
                        <td>INJ</td>
                        <td>5ml</td>
                    </tr>

    
                  <tr>
                    <td colspan="4"><strong>E.D. THERAPY</strong></td>
                  </tr>
                  <tr>
                    <td>*Tadalafil</td>
                    <td>5mg - 40mg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>*Sildenafil</td>
                    <td>50mg-110mg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>*Oxytocin</td>
                    <td>100iu</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>*Testosterone/Sermorelin/Oxytocin/Tadalafil</td>
                    <td>20mg/300mcg/100 units/25mg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>AGE MANAGEMENT/PEPTIDES/WEIGHT LOSS</strong></td>
                  </tr>
                  <tr>
                  <td>Sermorelin (lyophilized)</td>
                  <td>9mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Sermorelin (lyophilized)</td>
                  <td>15mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Sermorelin+Ipamorelin (lyophilized)</td>
                  <td>9mg/9mg per vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Sermorelin+Ipamorelin (lyophilized)</td>
                  <td>15mg/15mg per vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Ipamorelin (lyophilized)</td>
                  <td>9mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Ipamorelin (lyophilized)</td>
                  <td>15mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Ipamorelin + Mod GRF 1-29 (CJC 1295 w/o DAC) (lyophilized)</td>
                  <td>9mg/5mg per vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Bremelanotide (PT 141) (lyophilized)</td>
                  <td>20mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Bremelanotide (PT141) nasal spray</td>
                  <td>15mg/ml</td>
                  <td>Nasal Spray</td>
                  <td>3ml</td>
                </tr>
                <tr>
                  <td>Epithalon (lyophilized)</td>
                  <td>15mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>BPC-157 (lyophilized)</td>
                  <td>10mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>BPC-157</td>
                  <td>0.5mg</td>
                  <td>Caps</td>
                  <td>30ct</td>
                </tr>
                <tr>
                  <td>Kisspeptin-10</td>
                  <td>1mg/ml</td>
                  <td>INJ</td>
                  <td>3ml</td>
                </tr>
                <tr>
                  <td>Kisspeptin-10</td>
                  <td>200mcg</td>
                  <td>Troches</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>MK-677 (Ibutamoren)</td>
                  <td>12.5mg</td>
                  <td>Caps</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>MK-677 (Ibutamoren)</td>
                  <td>25mg</td>
                  <td>Caps</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Melanotan II (lyophilized)</td>
                  <td>10mg/vial</td>
                  <td>INJ</td>
                  <td>EACH</td>
                </tr>
                <tr>
                  <td>Selank Spray</td>
                  <td>7.5mg/ml</td>
                  <td>Nasal Spray</td>
                  <td>3ml</td>
                </tr>
                <tr>
                  <td>Semax Spray</td>
                  <td>7.5mg/ml</td>
                  <td>Nasal Spray</td>
                  <td>3ml</td>
                </tr>
                <tr>
                  <td>Dihexa Cream</td>
                  <td>20mg/ml</td>
                  <td>Cream</td>
                  <td>30g</td>
                </tr>
                <tr>
                    <td>Dihexa Capsule</td>
                    <td>5mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>DSIP (Delta Sleep-Inducing Peptide)</td>
                    <td>1mg/ml</td>
                    <td>INJ</td>
                    <td>5ml</td>
                  </tr>
                  <tr>
                    <td>AOD9604</td>
                    <td>600mcg/ml</td>
                    <td>Cream</td>
                    <td>30g</td>
                  </tr>
                  <tr>
                    <td>AOD9604*</td>
                    <td>0.5mg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>GHK-Cu*</td>
                    <td>10mg/ml</td>
                    <td>vial</td>
                    <td>INJ</td>
                  </tr>
                  <tr>
                    <td>Sirolimus (Rapamycin)</td>
                    <td>1.5mg or 3mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>5-Amino-1MQ</td>
                    <td>50mg</td>
                    <td>Caps</td>
                    <td>#40</td>
                  </tr>
                
                    <td colspan="4"><strong>Troches</strong></td>
                  </tr>
                  <tr>
                    <td>Ipamorelin/GRF 1-29 (CJC 1295 without DAC)*</td>
                    <td>200mcg/200mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Ipamorelin/Sermorelin*</td>
                    <td>200mcg/200mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Ipamorelin/Sermorelin*</td>
                    <td>300mcg/300mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Ipamorelin/Sermorelin*</td>
                    <td>500mcg/500mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Ipamorelin</td>
                    <td>300mg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Bremelanotide (PT 141)*</td>
                    <td>1mg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Oxandrolone</td>
                    <td>12.5mg</td>
                    <td>Capsule/Troches</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Oxandrolone</td>
                    <td>25mg</td>
                    <td>Capsule/Troches</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Oxandrolone</td>
                    <td>50mg</td>
                    <td>Capsule/Troches</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>Weight Loss</strong></td>
                  </tr>
                  <tr>
                    <td>LIPO-C MIC Methyl B12+L-Carnitine+Chromium</td>
                    <td>25mg/50mg/50mg/1mg/100mg/4mcg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>Vit B Complex (Niacinamide/Pyridoxine/Thiamine/Leucine/Dexpanthenol/Riboflavin)</td>
                    <td>25mg/25mg/25mg/2.5mg/2mg/2mg/mL</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>ICB Complex (Inositol/Choline/B1/B2/B3/B5/B6/B12/Leucine/Carnitine/Chromium/Lidocaine)</td>
                    <td>25mg/25mg/5mg/2.5mg/25g/5mg/5mg/0.1mg/1.5mg/25mg/25mcg/10mg/ML (not for IV)</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>Methylcobalamin (lyophilized)</td>
                    <td>10,000mcg/vial</td>
                    <td>INJ</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Methylcobalamin (lyophilized)</td>
                    <td>50,000mcg/vial</td>
                    <td>INJ</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>MIC + Methyl B12 (Methionine/Inositol/Choline/B12)</td>
                    <td>25/50/50/1mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>Slim Extreme (Naltrexone/Methyl B12/Phentermine)</td>
                    <td>3mg/1mg/30mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Polli Plus I (Bupropion/Metformin/Oxytocin/Topiramate)</td>
                    <td>65mg/250mg/100iu/25mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Polli Plus II (Bupropion/Metformin/Naltrexone/Topiramate)</td>
                    <td>65mg/250mg/8mg/25mg</td>
                    <td>Caps</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Semaglutide/Pyridoxine (Vit B6)*</td>
                    <td>2.5mg/10mg/ml</td>
                    <td>INJ</td>
                    <td>2ml</td>
                  </tr>
                  <tr>
                    <td>Semaglutide/Pyridoxine (Vit B6)*</td>
                    <td>2.5mg/10mg/ml</td>
                    <td>INJ</td>
                    <td>4ml</td>
                  </tr>
                  <tr>
                    <td>Semaglutide*</td>
                    <td>250mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Semaglutide*</td>
                    <td>500mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Semaglutide*</td>
                    <td>1000mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Pyridoxine (B6)/Semaglutide*</td>
                    <td>5mg/250mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Pyridoxine (B6)/Semaglutide*</td>
                    <td>5mg/500mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Pyridoxine (B6)/Semaglutide*</td>
                    <td>5mg/1000mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>BPC-157/Pyridoxine (B6)/Semaglutide*</td>
                    <td>0.5mg/2.5mg/250mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>BPC-157/Pyridoxine (B6)/Semaglutide*</td>
                    <td>0.5mg/2.5mg/500mcg</td>
                    <td>Troche</td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>INJECTABLES/IV THERAPY * must ship cold</strong></td>
                  </tr>
                  <tr>
                    <td>*Ascorbic Acid (Tapioca)</td>
                    <td>450mg/ml</td>
                    <td>INJ</td>
                    <td>50ml</td>
                  </tr>
                  <tr>
                    <td>*Alpha-Lipoic Acid</td>
                    <td>25mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>Amino Blend (Orthinine/Arginine/Lysine/Lidocaine)</td>
                    <td>75mg/75mg/75mg/10mg/ml</td>
                    <td>INJ – IM only</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*BCAA - Leucine/Isoleucine/Valine</td>
                    <td>10mg/10mg/5mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*B-6 (Pyridoxine – compounded)</td>
                    <td>100mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Biotin</td>
                    <td>10mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Calcium Gluconate - MFG 10%</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Calcium Chloride 10% - MFG</td>
                    <td>100mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Dexpanthenol - Compounded</td>
                    <td>250mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Edetate Calcium Disodium</td>
                    <td>250mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Edetate Calcium Disodium</td>
                    <td>200mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Edetate Disodium (EDTA)</td>
                    <td>150mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Folic Acid</td>
                    <td>5mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Glutathione</td>
                    <td>200mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Hydrogen Peroxide</td>
                    <td>30mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*L-Arginine</td>
                    <td>200mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*L-Carnitine</td>
                    <td>500mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*L-Lysine</td>
                    <td>100mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Lipoic Acid</td>
                    <td>25mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Magnesium Chloride (Mfg.)</td>
                    <td>200mg/ml</td>
                    <td>INJ</td>
                    <td>50ml</td>
                  </tr>
                  <tr>
                    <td>*Myer’s Cocktail (single dose vials – min. order 9 vials, 3 vials per patient)</td>
                    <td></td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>Potassium Chloride</td>
                    <td>2meq/ml (MFG)</td>
                    <td>INJ</td>
                    <td>20ml</td>
                  </tr>
                  <tr>
                    <td>*Selenium</td>
                    <td>40mcg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>Sodium Bicarbonate Solution (Mfg.)</td>
                    <td>0.084</td>
                    <td>INJ</td>
                    <td>50ml</td>
                  </tr>
                  <tr>
                    <td>*Taurine</td>
                    <td>50mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Thiamine</td>
                    <td>100mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Trace Minerals (Zinc/Manganese/Selenium/Copper)</td>
                    <td>5mg/0.5mg/60mcg/1mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*Vitamin D3</td>
                    <td>50,000iu/ml</td>
                    <td>INJ</td>
                    <td>5ml</td>
                  </tr>
                  <tr>
                    <td>*Zinc Sulfate</td>
                    <td>10mg/ml</td>
                    <td>INJ</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>DETOX</strong></td>
                  </tr>
                  <tr>
                    <td>*Phosphatidyl Choline</td>
                    <td>5%</td>
                    <td>INJ – IV In sterile water</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td>*NAD (Nicotinamide adenine dinucleotide)</td>
                    <td>100mg/ml</td>
                    <td>INJ - IV</td>
                    <td>10ml</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>DERMATOLOGY - REJUVENATION PRODUCTS</strong></td>
                  </tr>
                  <tr>
                    <td>Anti-Hyperpigmentation Cream <span>Hydroquinone/Tretinoin/Kojic Acid/Hydrocortisone VersaPro cream base with Bergamot fragrance</span></td>
                    <td>All Strengths</td>
                    <td>Cream</td>
                    <td>30g</td>
                  </tr>
                  <tr>
                    <td>Tretinoin with Co-Q10 Cream <span>Tretinoin 0.025%-0.1% /Co-Q 10 1%, cream base with Bergamot fragrance</span></td>
                    <td>All Strengths</td>
                    <td>Cream</td>
                    <td>30g</td>
                  </tr>
                  <tr>
                    <td>Co-Q10 with Biopeptides Moisturizer <span>Co-Q 10 1%, Biopeptides cream base with Bergamot fragrance</span></td>
                    <td>1%</td>
                    <td>Cream</td>
                    <td>30g</td>
                  </tr>
                  <tr>
                    <td>Eye cream <span>Bisabolol 0.5%/Chrysin 0.5%/Vit K 0.5%/Caffeine Bergamot fragrance</span></td>
                    <td>0.5%/0.5%/0.5%</td>
                    <td>Cream</td>
                    <td>15g</td>
                  </tr>
                  <tr>
                    <td>Advanced Cell Repair Serum <span>Ascorbic acid 20%, Sodium Hyaluronate 1%, Estriol 0.5%, Palmitoyl Tripeptide-5 AND Palmitoyl Pentapeptide-4</span></td>
                    <td>20%/1%/0.5%</td>
                    <td>Lotion</td>
                    <td>15g</td>
                  </tr>
                 
                  <tr>
                    <td>GHK-Cu 1%/Biopeptides Cream Co-Q 10 1%, Biopeptides cream base with Bergamot fragrance</td>
                    <td>1%</td>
                    <td>Cream</td>
                    <td>30g</td>
                  </tr>
                 
                  <tr>
                    <td>GHK-Cu Foam</td>
                    <td>5mg/ml</td>
                    <td>Topical Foam</td>
                    <td>30ml</td>
                  </tr>
                  <tr>
                    <td>Acne-Gone Gel Niacinamide/Spironolactone/Lipoic Acid/Salicylic Acid</td>
                    <td>4%/4%/0.5%/2%</td>
                    <td>Gel</td>
                    <td>30g</td>
                  </tr>
                  
                  <tr>
                    <td colspan="4"><strong>EYELASH GROWTH FORMULATION</strong></td>
                  </tr>
                  <tr>
                    <td>Lash-A-Luscious Solution <span>Latanaprost/Naphazoline</span></td>
                    <td>0.003%/0.05%</td>
                    <td>Solution</td>
                    <td>4ml</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>HAIR RESORATION PRODUCTS</strong></td>
                  </tr>
                  <tr>
                    <td>Zinc-Thymulin Foam</td>
                    <td>0.001%</td>
                    <td>Topical Foam</td>
                    <td>30ml</td>
                  </tr>
                  <tr>
                    <td>Zinc-Thymulin Spray</td>
                    <td>0.001%</td>
                    <td>Spray</td>
                    <td>25ml</td>
                  </tr>
                  <tr>
                    <td>Zinc-Thymulin/GHK-Cu Spray</td>
                    <td>0.001%/0.5%</td>
                    <td>Spray</td>
                    <td>25ml</td>
                  </tr>
                  <tr>
                    <td>Minoxidil/Biotin/Finasteride/Pyridoxine/Zinc Sulfate</td>
                    <td>10%/0.2%/0.11%/0.05%/0.15%</td>
                    <td>Liquid</td>
                    <td>30ml</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>PRESCRIPTION PEELS (in-office use only)</strong></td>
                  </tr>
                  <tr>
                    <td>PEEL #1 <span>Glycolic Acid/Trichloracetic Acid/Kojic Acid</span></td>
                    <td>20%/15%/2%</td>
                    <td>Solution</td>
                    <td>10ml</td>
                  </tr>
                  
                  <tr>
                    <td>PEEL #2 <span>Trichloracetic Acid/Salicylic Acid/ Phenol</span></td>
                    <td>10%/0.55%/0.1%</td>
                    <td>Solution</td>
                    <td>10ml</td>
                  </tr>
                  

                  <tr>
                    <td colspan="4"><strong>SUPPLIES:</strong></td>
                  </tr>
                  <tr>
                    <td>Syringes</td>
                    <td>Any</td>
                    <td></td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Mix Kit (Bac water/Mixing Syringe)</td>
                    <td></td>
                    <td></td>
                    <td>EACH</td>
                  </tr>
                  <tr>
                    <td>Alcohol Prep wipes</td>
                    <td></td>
                    <td></td>
                    <td>30 Ct</td>
                  </tr>
                  <tr>
                    <td>Sharps Container</td>
                    <td></td>
                    <td></td>
                    <td>EACH</td>
                  </tr>
                </tbody>
            </table>
                  </div>
                </div>
                  <div class="container">
                    <h2>SHIPPING FEES:</h2>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">FedEx Ground</h5>
                        <p class="card-text">Within Florida – $14.00 (up to 2 lbs)</p>
                        <p class="card-text">Out of State – $16.00 (up to 2 lbs)</p>
                        <p class="card-text">Packages over 2 lbs. – Additional charges apply, varies by delivery location and package weight</p>
                        <p class="card-text">Signature required – Additional $6.00 charge</p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">FedEx Express</h5>
                        <p class="card-text">2 Days FedEx Express – $20.00 in or out of state (up to 2 lbs)</p>
                        <p class="card-text">Overnight Delivery within Florida – $25.00 (up to 2 lbs)</p>
                        <p class="card-text">No additional charge for cold ship within Florida</p>
                        <p class="card-text">Overnight Delivery Out of State – $30.00 (up to 2 lbs)</p>
                        <p class="card-text">Cold ship – $35.00</p>
                        <p class="card-text">Guaranteed Saturday Delivery – Additional charges apply based on delivery location, call for price.</p>
                        <p class="card-text">Packages over 2 lbs. – Additional charges apply, varies by delivery location and package weight</p>
                      </div>
                    </div>
                    <h5 class="mt-3 p-0 mb-0 strong">*Indicates Cold Ship Item, Must Ship Express Priority Overnight to Preserve Product Quality</h5>
                    <h5 class="p-0 m-0">PLEASE NOTE: All Controlled Substances MUST Be Shipped Directly to Patient – No Exceptions</h5>
                    <h5 class="p-0 m-0">Please contact the pharmacy for shipping costs to Puerto Rico and the US Virgin Islands</h5>
                  </div>
                </div>
                  </div>
                  
        <!-- end main-content -->
        <%- include('../partials/footer') %>

          <!-- Footer Scripts -->
          <script src="js/custom.js"></script>
          <script src="js/api_call.js"></script>
