<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png" />
  <link rel="manifest" href="images/site.webmanifest" />

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/animate.min.css" rel="stylesheet" type="text/css" />
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css" />
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css" />

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css" />

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="#">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a id="account_page" class="d-none" href="/account">Account</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start Main Content -->
      <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
        data-tm-bg-img="images/bg/bg2.jpg">
        <div class="container pt-50 pb-50">
          <div class="section-content">
            <div class="row">
              <div class="col-md-12 text-center">
                <h2 class="title">Meal Plan Personalization</h2>
                <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                  <div class="breadcrumbs">
                    <span><a href="#" rel="home">Home</a></span>
                    <span><i class="fa fa-angle-right"></i></span>
                    <span class="active"><a href="#">Fitness Plan</a></span>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section: Fitness Plan Form -->
      <section class="divider">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="border-1px p-30 mb-0">
                <h3 class="text-theme-colored1 text-center mt-0 pt-10">Fitness Plan Specifications &amp; Customizations
                </h3>
                <hr />
                <p class='text-dark'>Our Custom 30-Day Fitness Plan Service is a personalized, comprehensive, and
                  easy-to-follow solution for individuals seeking to achieve their fitness goals. By gathering detailed
                  information about our customers, we create a unique workout plan tailored to their specific needs,
                  preferences, and lifestyle. The service aims to provide maximum value by addressing various factors,
                  including fitness level, workout preferences, available equipment, and time constraints.</p>
                <form id="fitness_plan_form" name="fitness_plan_form" action="/fitnessplan" method="post"
                  enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label>Age</label>
                        <input name="age" type="number" placeholder="Current Age" class="form-control" />
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label>Gender <small>*</small></label>
                        <div class="input-group">
                          <select name="gender" class="form-control" required>
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Non-Binary">Non-Binary</option>
                            <option value="Prefer Not to Say">Prefer Not to Say</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label>Feet</label>
                          <select name="heightFeet" class="form-control">
                            <option value="">Select Height Feet</option>
                            <option value="3">3 Feet</option>
                            <option value="4">4 Feet</option>
                            <option value="5">5 Feet</option>
                            <option value="6">6 Feet</option>
                            <option value="7">7 Feet</option>
                          </select>
                        </div>
                      </div>


                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label>Inches</label>
                          <select name="heightInches" class="form-control">
                            <option value="">Select Height Inches</option>
                            <option value="0">0 Inches</option>
                            <option value="1">1 Inches</option>
                            <option value="2">2 Inches</option>
                            <option value="3">3 Inches</option>
                            <option value="4">4 Inches</option>
                            <option value="5">5 Inches</option>
                            <option value="6">6 Inches</option>
                            <option value="7">7 Inches</option>
                            <option value="8">8 Inches</option>
                            <option value="9">9 Inches</option>
                            <option value="10">10 Inches</option>
                            <option value="11">11 Inches</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label>Current Fitness Leve</label>
                        <select name="fitnessLevel" class="form-control">
                          <option value="">Select Fitness Level</option>
                          <option value="Beginner">Beginner</option>
                          <option value="Intermediate">Intermediate</option>
                          <option value="Advanced">Advanced</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label>Fitness Goals</label>
                        <textarea name="fitnessGoal" placeholder="Describe your fitness goals" class="form-control"
                          rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label>Workout Preferences</label>
                        <textarea name="workoutPreference" placeholder="Describe your workout preferences"
                          class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label>Exercise Limitations</label>
                        <textarea name="exerciseLimitation"
                          placeholder="Describe any exercise limitations or restrictions" class="form-control"
                          rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label>Workout Frequency</label>
                        <input name="workoutFrequency" type="text" placeholder="Workout Frequency"
                          class="form-control" />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label>Workout Duration</label>
                        <input name="workoutDuration" type="text" placeholder="Workout Duration" class="form-control" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label>Available Equipment</label>
                        <textarea name="availableEquipment" placeholder="Describe the available equipment"
                          class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label>Rest and Recovery Needs</label>
                        <textarea name="restAndRecovery" placeholder="Describe your rest and recovery needs"
                          class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label>Health Conditions</label>
                        <textarea name="healthCondition" placeholder="Describe any health conditions"
                          class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3">
                        <label>Current Medications/Substances</label>
                        <textarea name="currentMedication" placeholder="List any current medications/substances"
                          class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </form>
                <!--Form Validation-->
                <script>
                  (function ($) {
                    $("#fitness_form").validate({
                      submitHandler: function (form) {
                        var form_btn = $(form).find('button[type="submit"]');
                        var form_result_div = "#form-result";
                        $(form_result_div).remove();
                        form_btn.before(
                          '<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>'
                        );
                        var form_btn_old_msg = form_btn.html();
                        form_btn.html(
                          form_btn.prop("disabled", true).data("loading-text")
                        );
                        $(form).ajaxSubmit({
                          dataType: "json",
                          success: function (data) {
                            if (data.status === "true") {
                              $(form).find(".form-control").val("");
                            }
                            form_btn
                              .prop("disabled", false)
                              .html(form_btn_old_msg);
                            $(form_result_div)
                              .html(data.message)
                              .fadeIn("slow");
                            setTimeout(function () {
                              $(form_result_div).fadeOut("slow");
                            }, 6000);
                          },
                        });
                      },
                    });
                  })(jQuery);
                </script>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
      <!-- end main-content -->
      <%- include('../partials/footer') %>


        <!-- Footer Scripts -->
        <script src="js/custom.js"></script>

</body>

</html>
<script src="js/api_call.js"></script>

</body>

</html>
