<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link href="images/favicon.png" rel="shortcut icon" type="image/png">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="/about">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start main-content -->
      <div class="main-content-area">
        <!-- Section: page title -->
        <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
          data-tm-bg-img="images/bg/bg1.jpg">
          <div class="container pt-50 pb-50">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="title">Login</h2>
                  <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                    <div class="breadcrumbs">
                      <span><a href="#" rel="home">Home</a></span>
                      <span><i class="fa fa-angle-right"></i></span>
                      <span><a href="#">Login</a></span>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="tab-content">
                  <div class="tab-pane fade show active p-15" id="login-tab" role="tabpanel"
                    aria-labelledby="login-tab-area">
                    <h2 class="text-gray mt-0 pt-10">Login</h2>
                    <hr>
                    <div class="icon-box mb-0 p-0">
                      <a href="/register" class="icon icon-bordered icon-rounded icon-sm float-start mt-0 mb-10 mr-10">
                        <i class="pe-7s-users"></i>
                      </a>
                      <a href="/register">
                        <h3 class="text-black-333 pt-10 mt-0 mb-30">Not Yet a Member? Click Here to Register Now!</h3>
                      </a>
                    </div>
                    <form form action="#" method="post" class="clearfix">
                      <!-- display error need styling -->
                      <div id="login_error" class="alert alert-danger d-none" role="alert">
                      </div>
                      <!--  -->
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label for="login_email">Email</label>
                          <input id="login_email" name="login_email" class="form-control" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label for="login_password">Password</label>
                          <input id="login_password" name="login_password" class="form-control" type="password">
                          <input type="checkbox" onclick="showPassword()"><span class="ml-5"> Show Password</span>
                        </div>
                      </div>
                      <div class="checkbox mt-15">
                        <label for="rememberme">
                          <input id="rememberme" name="rememberme" type="checkbox">
                          Remember me </label>
                      </div>
                      <!-- login with google need styling -->
                      <div class="mb-3 tm-sc-button mt-10">
                        <a href="/auth/google" class="login-with-google-btn">Sign in with google </a>
                      </div>
                      <!--  -->
                      <div class="mb-3 tm-sc-button mt-10">
                        <button id="login_user" type="submit" class="btn btn-theme-colored1">
                          <span id="login_text">Login</span>
                          <span id="login_text_spin" class="d-none">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                          </span>
                        </button>
                      </div>
                      <button type="button" class="btn btn-theme-colored2" data-bs-toggle="modal"
                        data-bs-target="#forgotPasswordModal">
                        Forgot Password
                      </button>
                      <!-- Forgot Password Modal -->
                      <div class="modal fade" id="forgotPasswordModal" tabindex="-1"
                        aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content text-center">
                            <div class="modal-header bg-theme-colored1">
                              <h3 class="modal-title text-white" id="forgotPasswordModalLabel">Password Reset</h3>
                              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-5">
                              <p class="py-2">
                                Enter your email address and we'll send you an email with instructions to reset your
                                password.
                              </p>
                              <div class="form-outline">
                                <div class="d-none" id="invalid_forgotpassword_email"
                                  style="color: red;font-size: 12px;">
                                  Email field required
                                </div>
                                <div class="alert alert-primary d-none" role="alert" id="forgot_message">
                                </div>
                                <input type="email" id="resetPasswordEmail" class="form-control my-3"
                                  placeholder="Your Email Address" />
                              </div>
                              <button id="forgot_password" class="btn btn-theme-colored2 w-100">
                                <span id="resetpassword_text">Send Reset Email</span>
                                <span id="resetpassword_text_spin" class="d-none">
                                  <span class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                  Loading...
                                </span>
                              </button>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end main-content -->

      <%- include('../partials/footer') %>

        <!-- Footer Scripts -->
        <script src="js/index.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/api_call.js"></script>
</body>

</html>
