<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png" />
  <link rel="manifest" href="images/site.webmanifest" />

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/animate.min.css" rel="stylesheet" type="text/css" />
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css" />
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css" />

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css" />

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="#">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a id="account_page" class="d-none" href="/account">Account</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start Main Content -->
      <div class="main-content-area">
        <!-- Section: page title -->
        <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
          data-tm-bg-img="images/bg/bg2.jpg">
          <div class="container pt-50 pb-50">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="title">Meal Plan Personalization</h2>
                  <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                    <div class="breadcrumbs">
                      <span><a href="#" rel="home">Home</a></span>
                      <span><i class="fa fa-angle-right"></i></span>
                      <span class="active"><a href="#">Meal Plan</a></span>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: Meal Plan Form -->
        <section class="divider">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="border-1px p-30 mb-0">
                  <h3 class="text-theme-colored1 text-center mt-0 pt-10">Meal Plan Specifications &amp; Customizations
                  </h3>
                  <hr />
                  <p class='text-dark'>Our Custom 30-Day Meal Plan Service is a personalized, comprehensive, and
                    easy-to-follow solution
                    for individuals seeking to achieve their nutrition and fitness goals. By gathering detailed
                    information about our customers, we leverage the power of our custom-trained AI to create a unique
                    meal plan tailored to their specific needs, preferences, and lifestyle. The service aims to provide
                    maximum value by addressing various factors, including dietary restrictions, allergies, cooking
                    abilities, and budget constraints.</p>
                  <form id="meal_plan_form" name="meal_plan_form" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="age" class="form-label">Age</label>
                      <input type="number" class="form-control" id="age" name="age" required>
                    </div>

                    <div class="mb-3">
                      <label for="gender" class="form-label">Gender</label>
                      <select class="form-select" id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Non-Binary">Non-Binary</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <label for="activityLevel" class="form-label">Activity Level</label>
                      <select class="form-select" id="activityLevel" name="activityLevel" required>
                        <option value="">Select</option>
                        <option value="sedentary">Sedentary (little or no exercise)</option>
                        <option value="lightlyActive">Lightly Active (light exercise or sports 1-3 days a week)</option>
                        <option value="moderatelyActive">Moderately Active (moderate exercise or sports 3-5 days a week)
                        </option>
                        <option value="veryActive">Very Active (hard exercise or sports 6-7 days a week)</option>
                        <option value="extraActive">Extra Active (very hard exercise or sports and a physical job)
                        </option>
                      </select>
                    </div>

                    <!-- <div class="mb-3">
                      <label for="height" class="form-label">Height (in inches)</label>
                      <input type="number" class="form-control" id="height" name="height" required>
                    </div> -->
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label>Feet</label>
                          <select name="heightFeet" class="form-control">
                            <option value="">Select Height Feet</option>
                            <option value="3">3 Feet</option>
                            <option value="4">4 Feet</option>
                            <option value="5">5 Feet</option>
                            <option value="6">6 Feet</option>
                            <option value="7">7 Feet</option>
                          </select>
                        </div>
                      </div>


                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label>Inches</label>
                          <select name="heightInches" class="form-control">
                            <option value="">Select Height Inches</option>
                            <option value="0">0 Inches</option>
                            <option value="1">1 Inches</option>
                            <option value="2">2 Inches</option>
                            <option value="3">3 Inches</option>
                            <option value="4">4 Inches</option>
                            <option value="5">5 Inches</option>
                            <option value="6">6 Inches</option>
                            <option value="7">7 Inches</option>
                            <option value="8">8 Inches</option>
                            <option value="9">9 Inches</option>
                            <option value="10">10 Inches</option>
                            <option value="11">11 Inches</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    
                    <div class="mb-3">
                      <label for="weight" class="form-label">Weight (in lbs)</label>
                      <input type="number" class="form-control" id="weight" name="weight" required>
                    </div>

                    <div class="mb-3">
                      <label for="targetWeight" class="form-label">Target Weight (in lbs)</label>
                      <input type="number" class="form-control" id="targetWeight" name="targetWeight" required>
                    </div>

                    <div class="mb-3">
                      <label for="dietaryRestrictions" class="form-label">Dietary Restrictions</label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="vegetarian" id="vegetarian"
                          name="dietaryRestrictions">
                        <label class="form-check-label" for="vegetarian">
                          Vegetarian
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="vegan" id="vegan"
                          name="dietaryRestrictions">
                        <label class="form-check-label" for="vegan">
                          Vegan
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="glutenFree" id="glutenFree"
                          name="dietaryRestrictions">
                        <label class="form-check-label" for="glutenFree">
                          Gluten-Free
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="dairyFree" id="dairyFree"
                          name="dietaryRestrictions">
                        <label class="form-check-label" for="dairyFree">
                          Dairy-Free
                        </label>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="mealPreference" class="form-label">Meal Preference</label>
                      <select class="form-select" id="mealPreference" name="mealPreference" required>
                        <option value="">Select</option>
                        <option value="balanced">Balanced</option>
                        <option value="lowCarb">Low Carb</option>
                        <option value="lowFat">Low Fat</option>
                        <option value="lowFat">Keto</option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <label for="allergies" class="form-label">Allergies (if any)</label>
                      <textarea class="form-control" id="allergies" name="allergies" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                      <label for="medicalConditions" class="form-label">Medical Conditions (if any)</label>
                      <textarea class="form-control" id="medicalConditions" name="medicalConditions"
                        rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                      <label for="preferredCuisine" class="form-label">Preferred Cuisine</label>
                      <input type="text" class="form-control" id="preferredCuisine" name="preferredCuisine" required>
                    </div>

                    <div id="vegetarianQuestion" class="mb-3 d-none">
                      <label for="vegetarianProteinSource" class="form-label">Preferred Vegetarian Protein
                        Source</label>
                      <input type="text" class="form-control" id="vegetarianProteinSource"
                        name="vegetarianProteinSource">
                    </div>

                    <div id="veganQuestion" class="mb-3 d-none">
                      <label for="veganProteinSource" class="form-label">Preferred Vegan Protein Source</label>
                      <input type="text" class="form-control" id="veganProteinSource" name="veganProteinSource">
                    </div>

                    <div class="row">
                      <div class="col-12 mb-2">
                        <span>Note: This process may take a few minutes. We kindly request your patience and await an email following your order.</span>
                      </div>
                      <div class="col-12"> 
                      <button type="submit" class="btn btn-primary">
                        <span id="create_meal_text">Submit</span>
                        <span id="create_meal_text_spin" class="d-none">
                          <span class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                          Loading...
                        </span>
                      </button>
                    </div>
                    </div>

                  </form>
                </div>

                <!-- This script is necessary to show/hide the vegetarian options when the user selects -->
                <script>
                  const form = document.getElementById('mealPlanForm');
                  const vegetarianQuestion = document.getElementById('vegetarianQuestion');
                  const veganQuestion = document.getElementById('veganQuestion');

                  form.addEventListener('change', function (event) {
                    const vegetarianCheckbox = document.getElementById('vegetarian');
                    const veganCheckbox = document.getElementById('vegan');

                    if (vegetarianCheckbox.checked) {
                      vegetarianQuestion.classList.remove('d-none');
                    } else {
                      vegetarianQuestion.classList.add('d-none');
                    }

                    if (veganCheckbox.checked) {
                      veganQuestion.classList.remove('d-none');
                    } else {
                      veganQuestion.classList.add('d-none');
                    }
                  });
                </script>


                <!--Form Validation-->
                <!-- <script>
                    (function ($) {
                      $("#meal_form").validate({
                        submitHandler: function (form) {
                          var form_btn = $(form).find('button[type="submit"]');
                          var form_result_div = "#form-result";
                          $(form_result_div).remove();
                          form_btn.before(
                            '<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>'
                          );
                          var form_btn_old_msg = form_btn.html();
                          form_btn.html(
                            form_btn.prop("disabled", true).data("loading-text")
                          );
                          $(form).ajaxSubmit({
                            dataType: "json",
                            success: function (data) {
                              if (data.status === "true") {
                                $(form).find(".form-control").val("");
                              }
                              form_btn
                                .prop("disabled", false)
                                .html(form_btn_old_msg);
                              $(form_result_div)
                                .html(data.message)
                                .fadeIn("slow");
                              setTimeout(function () {
                                $(form_result_div).fadeOut("slow");
                              }, 6000);
                            },
                          });
                        },
                      });
                    })(jQuery);
                  </script> -->
              </div>
            </div>
          </div>
      </div>
      </section>
      </div>
      <!-- end main-content -->
      <%- include('../partials/footer') %>


        <!-- Footer Scripts -->
        <script src="js/custom.js"></script>

</body>

</html>
<script src="js/api_call.js"></script>

</body>

</html>
