<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link href="images/favicon.png" rel="shortcut icon" type="image/png">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="/about">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="active menu-item">
      <a href="#">Sign In</a>
    </li>
    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start main-content -->
      <div class="main-content-area">
        <!-- Section: page title -->
        <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
          data-tm-bg-img="images/bg/bg1.jpg">
          <div class="container pt-50 pb-50">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="title">Register</h2>
                  <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                    <div class="breadcrumbs">
                      <span><a href="#" rel="home">Home</a></span>
                      <span><i class="fa fa-angle-right"></i></span>
                      <span><a href="#">Register</a></span>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="tab-content">
                  <div class="tab-pane fade show active p-15" id="login-tab" role="tabpanel"
                    aria-labelledby="login-tab-area">
                    <h2 class="text-gray mt-0 pt-10">Register</h2>
                    <hr>
                    <div class="icon-box mb-0 p-0">
                      <a href="/login" class="icon icon-bordered icon-rounded icon-sm float-start mt-0 mb-10 mr-10">
                        <i class="pe-7s-users"></i>
                      </a>
                      <a href="/login">
                        <h4 class="text-black-333 pt-10 mt-0 mb-30">Already a Member? Login Here.</h4>
                      </a>
                    </div>
                    <form form action="#" method="post" class="clearfix">
                      <!-- display error need styling -->
                      <div id="register_error" class="alert alert-danger d-none" role="alert">
                      </div>
                      <!--  -->
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label for="first_name">First Name</label>
                          <input id="first_name" name="first_name" class="form-control" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label for="last_name">Last Name</label>
                          <input id="last_name" name="last_name" class="form-control" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label for="email">Email</label>
                          <input id="email" name="email" class="form-control" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label for="password">Password</label>
                          <input id="password" name="password" class="form-control" type="password">
                        </div>
                        <div>
                          <h3 class="text-danger" id="contain">Password must contain the following:</h3>
                          <span class="text-danger" id="letter" class="invalid"> A <b>lowercase</b> letter</span>
                          <span class="text-danger" id="capital" class="invalid"> A <b>capital</b> letter</span>
                          <span class="text-danger" id="number" class="invalid"> A <b>number</b></span>
                          <span class="text-danger" id="length" class="invalid"> Minimum <b>8 characters</b></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label for="verify_password">Verify Password</label>
                          <input id="verify_password" name="verify_password" class="form-control" type="password">
                          <input type="checkbox" onclick="showPasswords()"><span class="ml-5"> Show Passwords</span>
                        </div>
                      </div>
                      <div id="nomatch">
                        <h5>Passwords Don't Match</h5>
                      </div>
                      <!-- login with google need styling -->
                      <div class="mb-4 tm-sc-button mt-10">
                        <a href="/auth/google" class="login-with-google-btn">Sign up with Google </a>
                      </div>
                      <!--  -->
                      <div class="tm-sc-button mt-10">
                        <button id="register_user" type="submit" class="btn btn-sm btn-dark">
                          <span id="register_text"><b>Register</b></span>
                          <span id="register_text_spin" class="d-none">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                          </span>
                        </button>


                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end main-content -->

      <%- include('../partials/footer') %>

        <!-- Footer Scripts -->
        <script src="js/custom.js"></script>
        <script src="js/index.js"></script>

</body>

</html>
<script src="js/api_call.js"></script>
