<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="TestRxMD" />
    <meta name="keywords"
        content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
    <meta name="author" content="Jacob Briggs" />

    <!-- Page Title -->
    <title>TestRxMD</title>

    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <!-- CSS | menuzord megamenu skins -->
    <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

    <!-- CSS | Main style file -->
    <link href="css/style-main.css" rel="stylesheet" type="text/css">
    <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

    <!-- CSS | Responsive media queries -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">

    <!-- CSS | Theme Color -->
    <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

    <!-- External javascripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/javascript-plugins-bundle.min.js"></script>
    <script src="js/menuzord/js/menuzord.js"></script>

    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
    <%- include('../partials/headerTop.ejs') %>
        <li class="menu-item">
            <a href="/">Home</a>
        </li>
        <li class="menu-item">
            <a href="/services">Services</a>
        </li>
        <li class="menu-item">
            <a href="/about">About</a>
        </li>
        <li class="menu-item">
            <a href="/contact">Contact</a>
        </li>
        <li class="active menu-item">
            <a href="#">Sign In</a>
        </li>
        <%- include('../partials/headerBottom.ejs') %>
            <!-- Start main-content -->
            <div class="main-content-area">
                <!-- Section: page title -->
                <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
                    data-tm-bg-img="images/bg/bg1.jpg">
                    <div class="container pt-50 pb-50">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="title">Successful Registration</h2>
                                    <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                                        <div class="breadcrumbs">
                                            <span><a href="#" rel="home">Home</a></span>
                                            <span><i class="fa fa-angle-right"></i></span>
                                            <span><a href="#">Successful Registration</a></span>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="text-center">
                    <h2 class="my-5">A verification email has been sent to your email address. Please follow the link in
                        your email to complete your registration. We look forward to serving you!
                    </h2>
                    <div class="icon-box mb-0 p-0">
                        <a href="/" class="icon icon-bordered icon-rounded icon-lg mt-0 mb-10 mr-10">
                            <i class="fas fa-home"></i>
                        </a>
                        <a href="/">
                            <h3> Click here to return home</h3>
                        </a>
                        <hr>
                        <img class="my-5" src="images/testrxmd/Test-RXMD-Small-D-Text.png" />
                    </div>

                    <!-- end main-content -->

                    <%- include('../partials/footer') %>

                        <!-- Footer Scripts -->
                        <script src="js/custom.js"></script>
                        <script src="js/index.js"></script>

</body>

</html>
