<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	<title>Reset Password</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

	<!-- Favicon and Touch Icons -->
	<link href="images/favicon.png" rel="shortcut icon" type="image/png">
	<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

	<!-- Stylesheet -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="css/javascript-plugins-bundle.css" rel="stylesheet" />
	<script src="https://www.google.com/recaptcha/api.js"></script>

	<!-- CSS | menuzord megamenu skins -->
	<link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

	<!-- CSS | Main style file -->
	<link href="css/style-main.css" rel="stylesheet" type="text/css">
	<link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

	<!-- CSS | Responsive media queries -->
	<link href="css/responsive.css" rel="stylesheet" type="text/css">

	<!-- CSS | Theme Color -->
	<link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">
	<!-- External javascripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/javascript-plugins-bundle.min.js"></script>
	<script src="js/menuzord/js/menuzord.js"></script>

	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%- include('../partials/headerTop.ejs') %>
		<li class="menu-item">
			<a href="/">Home</a>
		</li>
		<li class="menu-item">
			<a href="/services">Services</a>
		</li>
		<li class="menu-item">
			<a href="/about">About</a>
		</li>
		<li class="menu-item">
			<a href="/contact">Contact</a>
		</li>
		<li class="active menu-item">
			<a href="#">Sign In</a>
		</li>
		<%- include('../partials/headerBottom.ejs') %>
			<div class="login">
				<h1>Reset Password</h1>
				<form action="#">
					<div class="msg alert alert-danger d-none" role="alert" id="reset_error"></div>
					<label for="npassword">
						<i class="fas fa-lock"></i>
					</label>
					<input type="password" name="npassword" placeholder="New Password" id="npassword" required>
					<label for="cpassword">
						<i class="fas fa-lock"></i>
					</label>
					<input type="password" name="cpassword" placeholder="Confirm Password" id="cpassword" required>
					<input id="reset_button" type="submit" value="Submit">
				</form>
			</div>
			<%- include('../partials/footer') %>
</body>

</html>
<script src="js/api_call.js"></script>
