<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-colors.css" rel="stylesheet" type="text/css">

  <!-- External javascripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.min.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <!-- timeline-horizontal-vertical -->
  <link href="js/timeline-horizontal-vertical/css/timeline-horizontal-vertical.css" rel="stylesheet" type="text/css">
  <script src="js/timeline-horizontal-vertical/js/timeline-horizontal-vertical.min.js"></script>
  <script src="js/timeline-horizontal-vertical/js/custom.js"></script>

  <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="active menu-item">
      <a href="#">Services</a>
    </li>
    <li class="menu-item">
      <a href="/about">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/checkout">Telehealth &amp; Labs</a>
    </li>
    <li class="menu-item">
      <a id="account_page" class="d-none" href="/account">Account</a>
    </li>
    <li class="menu-item">
      <a class="d-none" href="/dashboard" id="admin_link">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a href="/login" id="login_link">Sign In</a>
      <a href="#" id="logout_link" class="d-none">Sign out</a>
    </li>

    <%- include('../partials/headerBottom.ejs') %>
      <!-- Start main-content -->
      <div class="main-content-area layer-overlay overlay-theme-colored1-7 parallax" data-parallax-ratio="0"
        data-tm-bg-img="images/pattern/p16.jpg">

        <!-- Section: page title -->
        <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
          data-tm-bg-img="images/bg/bg1.jpg">
          <div class="container pt-50 pb-50">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="title">Services</h2>
                  <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                    <div class="breadcrumbs">
                      <span><a href="#" rel="home">Home</a></span>
                      <span><i class="fa fa-angle-right"></i></span>
                      <span><a href="#services">Services</a></span>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="text-center mb-5">
              <h1>Our Services</h1>
              <h3 class="text-white">We offer a wide range of care with a primary focus in: TRT/HRT, Weight
                Management, Nootropics, Peptide
                Therapy,
                and ED Treatment</h3>
            </div>
            <div class="row mt-4">
              <div class="col-lg-12">
                <div class="tm-timeline-horizontal-vertical" data-tm-mode="vertical"
                  data-tm-vertical-start-position="right" data-tm-vertical-trigger="700px">
                  <div class="timeline__wrap">
                    <div class="timeline__items">
                      <div class="timeline__item">
                        <div class="timeline__content">
                          <div class="thumb"> <img src="images/services/hormone1.webp" alt="Image"></div>
                          <h4>Hormone Therapy:</h4>
                          <p>Balancing hormones properly can be a challenging endeavor. At TestRx MD, we have providers
                            who are experienced in this area. We try to make things as easy as possible for the patient
                            by
                            conducting our appointments primarily through our HIPAA compliant Zoom account. HRT/TRT Is
                            available
                            via injections,
                            creams, pills and/or patches. We will customize a hormone treatment plan based upon your
                            individual needs based upon labs. We will actively monitor your hormone levels and make
                            changes as needed to regain the vitality of your youth! </p>
                        </div>
                      </div>
                      <div class="timeline__item">
                        <div class="timeline__content">
                          <div class="thumb"> <img src="images/services/hormone2.webp" alt="Image"></div>
                          <h4>Hormone Therapy:<em> Testosterone Therapy</em></h4>
                          <p>Testosterone Therapy is part of our HRT program. We provide a complete ALL-INCLUSIVE
                            testosterone program. After paying for the initial labwork/consult ($125) &dash; everything
                            is
                            included for one low-monthly price &dash; starting at $200/month.
                            Items included:
                          <ul class="mb-3">
                            <li>Consults/Physical Exams</li>
                            <li>Quarterly Labs (more if needed)</li>
                            <li>Cost of Medication Prescribed (and any supplies needed to administer)</li>
                            <li>Cost of Shipping to Your Door! (FedEx 2nd day &dash; Expedited &dash; No sig req)</li>
                          </ul>
                          The services we offer are personalized based upon your goals &dash; whether
                          you
                          want to have care that is more performance-based, or just want to have enhanced energy/libido
                          like
                          you used to. We can get you there - let us help you <em>Discover the new YOU
                            today!</em></p>
                        </div>
                      </div>
                      <div class="timeline__item">
                        <div class="timeline__content">
                          <div class="thumb"> <img src="images/services/hormone3.webp" alt="Image"></div>
                          <h4>Hormone Therapy: <em>Natural Hormone Therapy</em></h4>
                          <p>Bio-identical hormones via pellet therapy offers a more precise monitoring of hormone and
                            avoid the fluctuations of hormone levels which will provide a more consistent level over a
                            longer period of time. Other benefits of bio-identical hormones include calmer mood, reduced
                            body fat, increased energy levels, increased sex drive, stronger mental clarity, and
                            improved
                            muscle tone and mass, among others. In addition to using pellets for hormone maintenance and
                            regulation, testosterone pellets have also been utilized for the treatment of menstrual
                            headaches and migraines, as well as providing relief of vaginal dryness, urinary frequency
                            and
                            urgency, and incontinence. In both men and women, the use of testosterone pellets has been
                            shown to relieve depression and anxiety, improve concentration and memory, increase energy
                            and
                            improve an overall sense of well-being.</p>
                        </div>
                      </div>
                      <div class="timeline__item">
                        <div class="timeline__content">
                          <div class="thumb"> <img src="images/services/pep.webp" alt="Image"></div>
                          <h4>Peptide Therapy:</h4>
                          <p>At TestRx MD, we offer peptide therapy as a treatment option for a range of health
                            conditions,
                            including muscle wasting, sexual dysfunction, and age-related hormone decline.
                            Peptides are short chains of amino acids that play important roles in the body&#39;s
                            functions,
                            including communication between cells and regulation of various processes. Our peptide
                            therapy involves administering a specific peptide or combination of peptides to help improve
                            symptoms and overall health.
                            Some potential benefits of peptide therapy include:
                          <ul class="mb-3">
                            <li>Increased muscle mass and strength</li>
                            <li>Improved sexual function</li>
                            <li>Enhanced sleep and recovery</li>
                            <li>Improved mental clarity/concentration</li>
                            <li>Increased Energy</li>
                            <li>Decreased body fat</li>
                            <li>Enhanced immune function</li>
                          </ul>
                          If you are interested in exploring peptide therapy as a treatment option, our team of medical
                          professionals at TestRx MD is here to help. We offer personalized treatment plans to help you
                          find the solution that works best for you. Contact us today to learn more about the benefits
                          of
                          peptide therapy and how it can improve your health and well-being.</p>
                        </div>
                      </div>
                      <div class="timeline__item">
                        <div class="timeline__content">
                          <div class="thumb"> <img src="images/services/wl.webp" alt="Image"></div>
                          <h4>Weight-Loss:</h4>
                          <p>At TestRx MD, we understand the struggles that come with trying to lose weight. That&#39;s
                            why we
                            offer personalized weight-loss plans that include both stimulant-based and non-stimulant-
                            based options to help you achieve your goals.</p>
                          <p>Our stimulant-based weight-loss plans utilize medications such as phentermine and
                            naltrexone,
                            which work by decreasing appetite and increasing metabolism. These medications can be
                            effective in helping you lose weight, but may not be suitable for everyone.</p>
                          <p>For those who prefer a non-stimulant option, we offer plans that utilize medications such
                            as
                            liraglutide and semaglutide, which work by regulating appetite and blood sugar levels. These
                            medications can help you feel full and satisfied while also helping to control cravings.</p>
                        </div>
                      </div>
                      <div class="timeline__item">
                        <div class="timeline__content">
                          <div class="thumb"> <img src="images/services/eds.webp" alt="Image"></div>
                          <h4>ED Treatment:</h4>
                          <p>At TestRx MD, we understand the challenges and embarrassment that can come with dealing
                            with erectile dysfunction (ED). That&#39;s why we offer a range of treatment options to help
                            men
                            regain their confidence and intimacy with their partners.
                            Our treatments include:
                          <ol class="mb-3">
                            <li>Medications: We offer a range of FDA-approved medications that have been proven to
                              be effective in treating ED. These include sildenafil (Viagra), tadalafil (Cialis), and
                              vardenafil (Levitra).</li>
                            <li>Penile injections: These injections can help increase blood flow to the penis, leading
                              to
                              improved erections.</li>
                            <li>Vacuum pumps: These devices use suction to increase blood flow to the penis, helping
                              to produce an erection.</li>
                          </ol>
                          If you are experiencing ED and are interested in exploring treatment options, our team of
                          medical professionals at TestRx MD is here to help. We offer personalized treatment plans to
                          help you find the solution that works best for you. Don&#39;t let ED hold you back any longer
                          -
                          contact us today to learn more about how we can help.</p>
                        </div>
                      </div>

                      <div class="timeline__item">
                        <div class="timeline__content">
                          <div class="thumb"> <img src="images/services/draws.webp" alt="Image"></div>
                          <h4>Lab Work on Per Draw Basis:</h4>
                          <p>At TestRx MD, we believe that understanding the overall health of our patients is
                            essential in
                            providing the best care possible. That&#39;s why we offer lab work on a per lab draw basis
                            for just
                            $125, giving you a comprehensive view of your health.</p>
                          <p>Our standard lab work covers a wide range of tests, including: (more available if needed,
                            for
                            added fee)
                          <ul class="mb-3">
                            <li>Complete blood count (CBC) w/ Auto Diff</li>
                            <li>Lipid panel</li>
                            <li>Basic Metabolic Panel w/ GFR</li>
                            <li>AST/ALT/TSH/PSA</li>
                            <li>Hemoglobin A1C</li>
                            <li>Estradiol</li>
                            <li>Free T4</li>
                            <li>Testosterone: Total and Free</li>
                          </ul>
                          </p>
                          <p>With this information, our team of medical professionals can get a better understanding
                            of your
                            health and identify any potential issues that may need to be addressed. Whether you are
                            experiencing specific symptoms or just want a general check-up, our lab work can provide
                            valuable insights into your overall health.
                            If you are interested in learning more about our lab work services, please don&#39;t
                            hesitate to
                            contact us. We are here to help you achieve optimal health and well-being.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end main-content -->

      <%- include('../partials/footer') %>

        <!-- Footer Scripts -->
        <script src="js/custom.js"></script>

</body>

</html>
<script src="js/api_call.js"></script>
