<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="TestRxMD" />
  <meta name="keywords"
    content="testrxmd, clinic, testosterone, hormone, therapy, ed, erectile dysfunction, supplements, doctor, medical, energy, shop, medication, indiana, columbus, neiters" />
  <meta name="author" content="Jacob Briggs" />

  <!-- Page Title -->
  <title>TestRxMD</title>

  <!-- Favicon and Touch Icons -->
  <link href="images/favicon.png" rel="shortcut icon" type="image/png">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

  <!-- Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="css/javascript-plugins-bundle.css" rel="stylesheet" />

  <!-- CSS | menuzord megamenu skins -->
  <link href="js/menuzord/css/menuzord.css" rel="stylesheet" />

  <!-- CSS | Main style file -->
  <link href="css/style-main.css" rel="stylesheet" type="text/css">
  <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

  <!-- CSS | Responsive media queries -->
  <link href="css/responsive.css" rel="stylesheet" type="text/css">
  <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->

  <!-- CSS | Theme Color -->
  <link href="css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">

  <!-- external javascripts -->
  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript-plugins-bundle.js"></script>
  <script src="js/menuzord/js/menuzord.js"></script>

  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="js/revolution-slider/css/rs6.css">
  <link rel="stylesheet" type="text/css" href="js/revolution-slider/extra-rev-slider-shop.css">
  <!-- REVOLUTION LAYERS STYLES -->
  <!-- REVOLUTION JS FILES -->
  <script src="js/revolution-slider/js/revolution.tools.min.js"></script>
  <script src="js/revolution-slider/js/rs6.min.js"></script>
  <script src="js/revolution-slider/extra-rev-slider-shop.js"></script>

  <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="tm-container-1300px has-side-panel side-panel-right">
  <%- include('../partials/headerTop.ejs') %>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services">Services</a>
    </li>
    <li class="menu-item">
      <a href="/about">About</a>
    </li>
    <li class="menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="menu-item">
      <a href="/login">Sign In</a>
    </li>
    <li class="menu-item active">
      <a href="javascript:void(0)">Shop</a>
      <div class="megamenu megamenu-fullwidth megamenu-position-left">
        <div class="megamenu-row">
          <div class="col4">
            <div class="widget">
              <h4 class="widget-title">Most Popular Treatments</h4>
              <ul class="product_list_widget">
                <li class="mb-20">
                  <div class="product-left">
                    <a class="p-0" href="../shop-product-details.html">
                      <img width="120" height="120" src="images/shop/product.jpg" class="thumbnail" alt="images">
                    </a>
                  </div>
                  <div class="product-right">
                    <a class="product-title p-0" href="shop-product-details.html">Beanie with
                      Logo</a>
                    <span class="amount"><span class="currencySymbol">$</span>11.99</span>
                  </div>
                </li>
                <li class="mb-20">
                  <div class="product-left">
                    <a class="p-0" href="../shop-product-details.html">
                      <img width="120" height="120" src="images/shop/product2.jpg" class="thumbnail" alt="images">
                    </a>
                  </div>
                  <div class="product-right">
                    <a class="product-title p-0" href="../shop-product-details.html">Hoodie</a>
                    <div>
                      <span class="amount"><span class="currencySymbol">$</span>29.99</span>
                    </div>
                  </div>
                </li>
                <li class="mb-20">
                  <div class="product-left">
                    <a class="p-0" href="shop-product-details.html">
                      <img width="120" height="120" src="images/shop/product.jpg" class="thumbnail" alt="images">
                    </a>
                  </div>
                  <div class="product-right">
                    <a class="product-title p-0" href="../shop-product-details.html">Hoodie
                      with
                      Zipper</a>
                    <span class="amount"><span class="currencySymbol">$</span>34.99</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col8">
            <a href="/shop">
              <h3 class="mt-10 browse">Click Here to Browse our Online Store!</h3>
            </a>
            <img class="img-fullwidth" src="images/shop/portfolio-big1.jpg" alt="images">
          </div>
        </div>
      </div>
    </li>

    </ul>
    </nav>
    </div>
    <div class="col-sm-auto align-self-center nav-side-icon-parent">
      <ul class="list-inline nav-side-icon-list">
        <li class="hidden-mobile-mode"><a href="#" id="top-nav-search-btn"><i class="search-icon fa fa-search"></i></a>
        </li>
        <li class="hidden-mobile-mode">
          <div class="top-nav-mini-cart-icon-container">
            <div class="top-nav-mini-cart-icon-contents">
              <a class="mini-cart-icon" href="/cart" title="View your shopping cart">
                <img src="images/shopping-cart.png" width="25" alt="cart"><span class="items-count">1</span>
                <span class="cart-quick-info">1 item - <span class="amount"><span
                      class="currencySymbol">$</span>18.00</span></span>
              </a>
              <div class="dropdown-content">
                <ul class="cart_list product_list_widget">
                  <li class="mini_cart_item">
                    <a href="#" class="remove remove_from_cart_button" aria-label="Remove this item"
                      data-product_id="18832" data-cart_item_key="#" data-product_sku="woo-beanie">&times;</a>
                    <a href="#"> <img class="attachment-thumbnail" src="images/shop/product.jpg" width="300"
                        height="300" alt="images" />Beanie</a>
                    <span class="quantity">1 &times; <span class="amount">
                        <span class="currencySymbol">$</span>18.00</span></span>
                  </li>
                </ul>
                <p class="total"> <strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount"><span
                      class="currencySymbol">$</span>18.00</span> </p>
                <div class="buttons cart-action-buttons">
                  <div class="row">
                    <div class="col-6 pe-0"><a href="/cart"
                        class="btn btn-theme-colored2 btn-block btn-sm wc-forward">View
                        Cart</a></div>
                    <div class="col-6 pe-1"><a href="../shop-checkout.html"
                        class="btn btn-theme-colored1 btn-block btn-sm checkout wc-forward">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="hidden-mobile-mode">
          <div id="side-panel-trigger" class="side-panel-trigger">
            <a href="#">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </a>
          </div>
        </li>
      </ul>
      <div id="top-nav-search-form" class="clearfix">
        <form action="#" method="GET">
          <input type="text" name="s" value="" placeholder="Type and Press Enter..." autocomplete="off" />
        </form>
        <a href="#" id="close-search-btn"><i class="fa fa-times fa-2x"></i></a>
      </div>
    </div>
    </div>
    <div class="row d-block d-xl-none">
      <div class="col-12">
        <nav id="top-primary-nav-clone"
          class="menuzord d-block d-xl-none default menuzord-color-default menuzord-border-boxed menuzord-responsive"
          data-effect="slide" data-animation="none" data-align="right">
          <ul id="main-nav-clone" class="menuzord-menu menuzord-right menuzord-indented scrollable">
          </ul>
        </nav>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content-area">
      <!-- Section: home -->
      <section id="home" class="">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col">
              <!-- START Home Slider REVOLUTION SLIDER 6.0.8 -->
              <p class="rs-p-wp-fix"></p>
              <rs-module-wrap id="rev_slider_shop_1_wrapper" data-alias="shop-home" data-source="gallery"
                style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                <rs-module id="rev_slider_shop_1" style="display:none;" data-version="6.0.8">
                  <rs-slides>
                    <rs-slide data-key="rs-15" data-title="Slide 2" data-thumb="images/shop/shop-banner-bg.jpg"
                      data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                      <img src="images/shop/shop-banner-bg.jpg" title="1tp5" width="1920" height="1080"
                        data-bg="p:center bottom;" data-parallax="off" class="rev-slidebg" data-no-retina>

                      <rs-layer id="slider-3-slide-15-layer-14" data-type="text" class="text-theme-colored1"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,2px;yo:200px,224px,175px,305px;"
                        data-text="w:normal;s:26,20,18,17;l:34,36,30,30;fw:600;a:left,left,left,center;"
                        data-dim="w:auto,auto,auto,264px;h:42px,42px,38px,auto;" data-frame_0="y:bottom;"
                        data-frame_1="st:1260;sp:1000;sR:1260;"
                        data-frame_999="x:-50,-38,-28,-17;o:0;st:w;sp:1500;sR:6740;" style="z-index:14;">Welcome to the
                      </rs-layer>

                      <rs-layer id="slider-3-slide-15-layer-19" data-type="text" data-color="#333333" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:246px,270px,210px,345px;"
                        data-text="w:normal;s:78,52,48,42;l:91,64,56,48;fw:700;a:left,left,left,center;"
                        data-dim="w:652px,auto,auto,auto;h:189px,151px,126px,112px;" data-frame_0="y:bottom;"
                        data-frame_1="st:1700;sp:1000;sR:1700;" data-frame_999="o:0;st:w;sp:1500;sR:6300;"
                        style="z-index:13;" class="font-current-theme1">TestRxMD<br />Store
                      </rs-layer>

                      <rs-layer id="slider-3-slide-15-layer-20" class="rev-btn bg-theme-colored1" data-type="button"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:500px,454px,405px,525px;"
                        data-text="w:normal;s:20,15,14,14;f:left,none,none,none;c:both,none,none,none;l:40,30,22,16;fw:500;a:left,left,left,center;"
                        data-flcr="f:left,none,none,none;c:both,none,none,none;" data-dim="minh:0px,none,none,none;"
                        data-padding="t:10,8,10,12;r:60,46,46,46;b:10,8,10,12;l:60,46,46,46;"
                        data-border="bor:5px,5px,5px,5px;" data-frame_0="y:bottom;"
                        data-frame_1="st:2500;sp:1000;sR:2500;" data-frame_999="o:0;st:w;sp:1500;sR:5500;"
                        data-frame_hover="bgc:#007aff;bor:5px,5px,5px,5px;bri:120%;" style="z-index:15;">
                        <div class="element pt-0 pt-lg-10 pb-0">
                          <a href="https://form.jotform.com/212587273457161" class="ajaxload-popup text-white">Make an
                            Appointment</a>
                        </div>
                      </rs-layer>

                      <rs-layer id="slider-3-slide-15-layer-22" data-type="shape" data-rsp_ch="on"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:100%;h:100%;" data-basealign="slide"
                        data-frame_0="x:-100%;" data-frame_0_mask="u:t;" data-frame_1="sp:2000;"
                        data-frame_1_mask="u:t;" data-frame_999="x:-100%;o:0;st:w;sp:2000;" data-frame_999_mask="u:t;"
                        style="z-index:7;background-color:rgba(255,255,255,0.3);">
                      </rs-layer>

                      <rs-layer id="slider-3-slide-15-layer-31" class="rs-pxl-2" data-type="image" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:755px,577px,417px,-2px;yo:105px,184px,125px,95px;"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                        data-dim="w:588px,414px,368px,205px;h:442px,314px,268px,155px;" data-frame_0="y:top;"
                        data-frame_1="st:1350;sp:1000;sR:1350;" data-frame_999="y:top;o:0;st:w;sp:2000;sR:6650;"
                        style="z-index:8;"><img src="images/shop/home-banner.png" alt="drill1" data-no-retina>
                      </rs-layer>

                      <rs-layer id="slider-3-slide-15-layer-32" data-type="text" data-color="#8e8e8e" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:445px,418px,340px,455px;"
                        data-text="w:normal;s:20,18,16,15;l:43,32,24,24;fw:600;a:left,left,left,center;"
                        data-dim="w:auto,auto,221px,auto;h:auto,auto,auto,35px;" data-frame_0="y:bottom;"
                        data-frame_1="st:2120;sp:1000;sR:2120;"
                        data-frame_999="x:-50,-38,-28,-17;o:0;st:w;sp:1500;sR:5880;" style="z-index:12;">Not Yet A
                        Patient?
                      </rs-layer>

                    </rs-slide>
                    <rs-slide data-key="rs-16" data-title="Slide 3" data-thumb="images/shop/shop-banner-bg.jpg"
                      data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                      <img src="images/shop/shop-banner-bg.jpg" title="1tp3" width="1920" height="1080"
                        data-bg="p:center bottom;" data-parallax="off" class="rev-slidebg" data-no-retina>
                      <rs-layer id="slider-3-slide-16-layer-14" data-type="text" class="text-theme-colored1"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:200px,220px,170px,305px;"
                        data-text="w:normal;s:26,20,18,17;l:34,36,30,30;fw:600;a:left,left,left,center;"
                        data-dim="h:42px,42px,38px,auto;" data-frame_0="y:bottom;"
                        data-frame_1="st:1260;sp:1000;sR:1260;"
                        data-frame_999="x:-50,-38,-28,-17;o:0;st:w;sp:1500;sR:6740;" style="z-index:14;">Special Offers
                        on
                      </rs-layer>
                      <rs-layer id="slider-3-slide-16-layer-19" data-type="text" data-color="#333333" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:245px,268px,209px,345px;"
                        data-text="w:normal;s:78,52,48,42;l:91,64,56,48;fw:700;a:left,left,left,center;"
                        data-dim="w:833px,auto,auto,auto;h:189px,151px,126px,112px;" data-frame_0="y:bottom;"
                        data-frame_1="st:1700;sp:1000;sR:1700;" data-frame_999="o:0;st:w;sp:1500;sR:6300;"
                        style="z-index:13;">Testosterone <br />&amp; Nootropics
                      </rs-layer>
                      <rs-layer id="slider-3-slide-16-layer-20" class="rev-btn bg-theme-colored1" data-type="button"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:500px,454px,405px,525px;"
                        data-text="w:normal;s:20,15,14,14;f:left,none,none,none;c:both,none,none,none;l:40,30,22,16;fw:500;a:left,left,left,center;"
                        data-flcr="f:left,none,none,none;c:both,none,none,none;" data-dim="minh:0px,none,none,none;"
                        data-padding="t:10,8,10,12;r:60,46,46,46;b:10,8,10,12;l:60,46,46,46;"
                        data-border="bor:5px,5px,5px,5px;" data-frame_0="y:bottom;"
                        data-frame_1="st:2500;sp:1000;sR:2500;" data-frame_999="o:0;st:w;sp:1500;sR:5500;"
                        data-frame_hover="bgc:#007aff;bor:5px,5px,5px,5px;bri:120%;" style="z-index:15;">
                        <div class="element pt-0 pt-lg-10 pb-0">
                          <a href="https://form.jotform.com/212587273457161" class="ajaxload-popup text-white">Make an
                            Appointment</a>
                        </div>
                      </rs-layer>

                      <rs-layer id="slider-3-slide-16-layer-22" data-type="shape" data-rsp_ch="on"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:100%;h:100%;" data-basealign="slide"
                        data-frame_0="x:-100%;" data-frame_0_mask="u:t;" data-frame_1="sp:2000;"
                        data-frame_1_mask="u:t;" data-frame_999="x:-100%;o:0;st:w;sp:2000;" data-frame_999_mask="u:t;"
                        style="z-index:7;background-color:rgba(255,255,255,0.3);">
                      </rs-layer>
                      <rs-layer id="slider-3-slide-16-layer-31" class="rs-pxl-2" data-type="image" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:755px,577px,417px,-2px;yo:105px,184px,125px,95px;"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                        data-dim="w:588px,414px,368px,205px;h:442px,314px,268px,155px;" data-frame_0="y:top;"
                        data-frame_1="st:1350;sp:1000;sR:1350;" data-frame_999="y:top;o:0;st:w;sp:2000;sR:6650;"
                        style="z-index:8;"><img src="images/shop/home-banner.png" alt="drill1" data-no-retina>
                      </rs-layer>
                      <rs-layer id="slider-3-slide-16-layer-32" data-type="text" data-color="#8e8e8e" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:445px,416px,339px,455px;"
                        data-text="w:normal;s:20,18,16,16;l:43,32,24,26;fw:600;a:left,left,left,center;"
                        data-dim="w:auto,auto,223px,225px;h:auto,auto,auto,29px;" data-frame_0="x:0,0,0,0px;y:bottom;"
                        data-frame_1="x:0,0,0,0px;y:0,0,0,0px;st:2120;sp:1000;sR:2120;"
                        data-frame_999="x:-50,-38,-28,-19px;o:0;st:w;sp:1500;sR:5880;" style="z-index:12;">10%
                        Discount On Your First Order!
                      </rs-layer>
                    </rs-slide>
                    <rs-slide data-key="rs-7" data-title="Slide 1" data-thumb="images/shop/shop-banner-bg.jpg"
                      data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                      <img src="images/shop/shop-banner-bg.jpg" title="bg4" width="1920" height="1280"
                        data-bg="p:center bottom;" data-parallax="off" class="rev-slidebg" data-no-retina>
                      <rs-layer id="slider-3-slide-7-layer-14" data-type="text" class="text-theme-colored1"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:200px,211px,175px,305px;"
                        data-text="w:normal;s:26,20,18,17;l:34,36,30,35;fw:600;a:left,left,left,center;"
                        data-dim="w:auto,auto,auto,295px;h:42px,42px,38px,auto;" data-frame_0="y:bottom;"
                        data-frame_1="st:1260;sp:1000;sR:1260;"
                        data-frame_999="x:-50,-38,-28,-17;o:0;st:w;sp:1500;sR:6740;" style="z-index:15;">Only the
                        Highest Quality Treatments
                      </rs-layer>
                      <rs-layer id="slider-3-slide-7-layer-19" data-type="text" data-color="#333333" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:245px,256px,210px,345px;"
                        data-text="w:normal;s:78,52,48,42;l:91,64,56,48;fw:700;a:left,left,left,center;"
                        data-dim="w:860px,auto,auto,auto;h:189px,137px,126px,112px;" data-frame_0="y:bottom;"
                        data-frame_1="st:1700;sp:1000;sR:1700;" data-frame_999="o:0;st:w;sp:1500;sR:6300;"
                        style="z-index:14;">Secure <br />Online Ordering
                      </rs-layer>
                      <rs-layer id="slider-3-slide-7-layer-20" class="rev-btn bg-theme-colored1" data-type="button"
                        data-rsp_ch="on" data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:500px,434px,405px,525px;"
                        data-text="w:normal;s:20,15,14,14;f:left,none,none,none;c:both,none,none,none;l:40,30,22,16;fw:500;a:left,left,left,center;"
                        data-flcr="f:left,none,none,none;c:both,none,none,none;" data-dim="minh:0px,none,none,none;"
                        data-padding="t:10,8,10,12;r:60,46,46,46;b:10,8,10,12;l:60,46,46,46;"
                        data-border="bor:5px,5px,5px,5px;" data-frame_0="y:bottom;"
                        data-frame_1="st:2500;sp:1000;sR:2500;" data-frame_999="o:0;st:w;sp:1500;sR:5500;"
                        data-frame_hover="bgc:#007aff;bor:5px,5px,5px,5px;bri:120%;" style="z-index:11;">
                        <div class="element pt-0 pt-lg-10 pb-0">
                          <a href="https://form.jotform.com/212587273457161" class="ajaxload-popup text-white">Make an
                            Appointment</a>
                        </div>
                      </rs-layer>

                      <rs-layer id="slider-3-slide-7-layer-22" data-type="shape" data-rsp_ch="on"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:100%;h:100%;" data-basealign="slide"
                        data-frame_0="x:-100%;" data-frame_0_mask="u:t;" data-frame_1="sp:2000;"
                        data-frame_1_mask="u:t;" data-frame_999="x:-100%;o:0;st:w;sp:2000;" data-frame_999_mask="u:t;"
                        style="z-index:7;background-color:rgba(255,255,255,0.3);">
                      </rs-layer>
                      <rs-layer id="slider-3-slide-7-layer-31" class="rs-pxl-2" data-type="image" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:755px,577px,417px,-2px;yo:105px,184px,125px,95px;"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                        data-dim="w:588px,414px,368px,205px;h:442px,314px,268px,155px;" data-frame_0="y:top;"
                        data-frame_1="st:1350;sp:1000;sR:1350;" data-frame_999="y:top;o:0;st:w;sp:2000;sR:6650;"
                        style="z-index:8;"><img src="images/shop/home-banner.png" alt="drill1" data-no-retina>
                      </rs-layer>
                      <rs-layer id="slider-3-slide-7-layer-32" data-type="text" data-color="#8e8e8e" data-rsp_ch="on"
                        data-xy="x:l,l,l,c;xo:51px,50px,40px,0;yo:445px,404px,340px,455px;"
                        data-text="w:normal;s:20,18,18,15;l:30,22,18,24;fw:600;a:left,left,left,center;"
                        data-dim="w:auto,auto,257px,auto;h:35px,26px,29px,35px;" data-frame_0="x:0,0,0px,0px;y:bottom;"
                        data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:2120;sp:1000;sR:2120;"
                        data-frame_999="x:-50,-38,-29px,-17px;o:0;st:w;sp:1500;sR:5880;" style="z-index:13;">Telehealth
                        Appointments Available!
                      </rs-layer>
                    </rs-slide>
                  </rs-slides>
                  <rs-progress class="rs-bottom" style="height: 5px; background: rgba(199,199,199,0.5);"></rs-progress>
                </rs-module>
              </rs-module-wrap>
              <!-- END REVOLUTION SLIDER -->
            </div>
          </div>
        </div>
      </section>

      <section data-tm-bg-color="#f5f5f5">
        <div class="container pt-30 pb-30">
          <div class="row">
            <div class="col-md-3">
              <div class="tm-sc-icon-box icon-box icon-left iconbox-centered-in-responsive mb-lg-30">
                <div class="icon-box-wrapper">
                  <a class="icon">
                    <img src="images/shop/shop-delivery-truck.png" alt="Image">
                  </a>
                  <div class="icon-text">
                    <h5 class="icon-box-title mt-0">Free Shipping</h5>
                    <div class="content">
                      <p>On Orders Over $50</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tm-sc-icon-box icon-box icon-left iconbox-centered-in-responsive mb-lg-30">
                <div class="icon-box-wrapper">
                  <a class="icon">
                    <img src="images/shop/shop-headphones.png" alt="Image">
                  </a>
                  <div class="icon-text">
                    <h5 class="icon-box-title mt-0">Telehealth Appointments</h5>
                    <div class="content">
                      <p>See Our Doctor Online!</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tm-sc-icon-box icon-box icon-left iconbox-centered-in-responsive mb-lg-30">
                <div class="icon-box-wrapper">
                  <a class="icon">
                    <img src="images/shop/shop-money-back-guarantee.png" alt="Image">
                  </a>
                  <div class="icon-text">
                    <h5 class="icon-box-title mt-0">Satisfaction Guaranteed</h5>
                    <div class="content">
                      <p>Or Your Money Back</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tm-sc-icon-box icon-box icon-left iconbox-centered-in-responsive mb-lg-30">
                <div class="icon-box-wrapper">
                  <a class="icon">
                    <img src="images/shop/shop-purchase.png" alt="Image">
                  </a>
                  <div class="icon-text">
                    <h5 class="icon-box-title mt-0">Secure Checkout</h5>
                    <div class="content">
                      <p>Buyer Protection Guaranteed</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="section-title text-center mb-30">
            <div class="row">
              <div class="col-md-12">
                <h2>New Treatments</h2>
                <p>See what new products are available at TestRxMD</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- Isotope Filter -->
              <div class="isotope-layout-filter filter-style-4 text-left cat-filter-default text-center"
                data-link-with="gallery-holder-618422">
                <a href="#" class="active" data-filter="*">All</a>
                <a href="#" class="" data-filter=".cat1">Weight Loss</a>
                <a href="#" class="" data-filter=".cat2">Testosterone</a>
                <a href="#" class="" data-filter=".cat3">Nootropics</a>
              </div>
              <!-- End Isotope Filter -->

              <!-- Isotope Gallery Grid -->
              <div id="gallery-holder-618422" class="isotope-layout grid-3 gutter-15 clearfix lightgallery-lightbox">
                <div class="isotope-layout-inner">
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1 cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <span class="onsale">Sale!</span>
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2 cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <span class="onsale">Sale!</span>
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2 cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->

                </div>
              </div>
              <!-- End Isotope Gallery Grid -->
            </div>
          </div>
        </div>
      </section>

      <section class="divider bg-light">
        <div class="container pt-40 pb-40">
          <div class="row">
            <div class="col-md-5 text-center">
              <img alt="images" src="images/shop/cap.jpg">
            </div>
            <div class="col-md-7 text-left">
              <h4 class="mt-50 text-theme-colored1 mb-0">Big discount!</h5>
                <h1 class="mt-0">Check Out Our Current Specials</h1>
                <h4 class="mt-10 text-gray">Up to 20% off on these products!</h4>
                <a href="shop-products.html" class="btn btn-theme-colored1 btn-round mt-20">Shop now</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Section: Shop  -->
      <section id="shop">
        <div class="container">
          <div class="section-title text-center mb-50">
            <div class="row">
              <div class="col-md-12">
                <h2>Best <span class="text-theme-colored1">Selling</span> Products</h2>
                <p>Browse our most popular treatments</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <!-- Isotope Gallery Grid -->
              <div id="product-gallery-holder-2222"
                class="isotope-layout grid-4 gutter-15 clearfix lightgallery-lightbox">
                <div class="isotope-layout-inner">
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1 cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <span class="onsale">Sale!</span>
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <span class="onsale">Sale!</span>
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2 cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="thumb image-swap">
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-main-image img-responsive img-fullwidth" width="300" height="300"
                                alt="product"></a>
                            <a href="shop-product-details.html"><img src="images/shop/product2.jpg"
                                class="product-hover-image img-responsive img-fullwidth" alt="product"></a>
                          </div>
                          <div class="product-button-holder">
                            <ul class="shop-icons">
                              <li class="item"><a href="#" class="button btn-quickview" title="Product quick view"></a>
                              </li>
                              <li class="item"><a href="shop-cart.html" class="button tm-btn-add-to-cart">Add to
                                  cart</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-details">
                          <span class="product-categories"><a href="#" rel="tag">Music</a></span>
                          <h5 class="product-title"><a href="shop-product-details.html">Product Title</a></h5>
                          <span class="price">
                            <del><span class="amount"><span class="currency-symbol">$</span>18.00</span></del>
                            <ins><span class="amount"><span class="currency-symbol">$</span>16.00</span></ins>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Divider: Call To Action -->
      <section class="bg-theme-colored1">
        <div class="container pt-30 pb-20">
          <div class="row">
            <div class="col-md-9">
              <h2 class="text-white text-uppercase font-weight-600">Get 10% Off Your First Order With TestRxMD!</h2>
            </div>
            <div class="col-md-2 element pt-0 pt-lg-10 pb-0">
              <a class="btn btn-theme-colored2 btn-circled ajaxload-popup text-white" href="https://form.jotform.com/212587273457161">Make an
                  Appointment
              </div></a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end main-content -->

    <!-- Footer -->
    <%- include('../partials/footer') %>

      <!-- Footer Scripts -->
      <script src="js/custom.js"></script>

</body>

</html>
