* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

/* .card-selection {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
} */

#jotform-hover:hover{
cursor: pointer;
color:#1e1ecf
}
#jotform-hover>u:hover{
  color:#1e1ecf
  }
.login,
.register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1,
.register h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login .links,
.register .links {
  display: flex;
  padding: 0 15px;
}

.login .links a,
.register .links a {
  color: #adb2ba;
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}

.login .links a:hover,
.register .links a:hover {
  color: #9da3ac;
}

.login .links a.active,
.register .links a.active {
  border-bottom: 3px solid #3274d6;
  color: #3274d6;
}

.login form,
.register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form label,
.register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"],
.login form input[type="email"],
.register form input[type="password"],
.register form input[type="text"],
.register form input[type="email"] {
  width: 80%;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type="submit"],
.register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
  border-radius: 0;
  appearance: none;
}

.login form input[type="submit"]:hover,
.register form input[type="submit"]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}

.login form #rememberme,
.register form #rememberme {
  width: 100%;
  height: auto;
  padding: 5px 20px;
  background-color: transparent;
  color: #000;
  justify-content: flex-start;
}

.login form #rememberme input,
.register form #rememberme input {
  transform: scale(1.3);
  margin-right: 7px;
}

.login form .msg,
.register form .msg {
  padding: 0 20px;
  width: 100%;
}

.login form .captcha,
.register form .captcha {
  display: flex;
}

.login form>a,
.register form>a {
  text-decoration: none;
  color: #5b6574;
  width: 100%;
  padding: 5px 20px;
}

.login form>a:hover,
.register form>a:hover {
  color: #394049;
}

.navtop {
  background-color: #2f3947;
  height: 60px;
  width: 100%;
  border: 0;
}

.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.navtop div h1,
.navtop div a {
  display: inline-flex;
  align-items: center;
}

.navtop div h1 {
  flex: 1;
  font-size: 22px;
  padding: 0;
  margin: 0;
  color: #eaebed;
  font-weight: normal;
}

.navtop div a {
  padding: 0 15px;
  text-decoration: none;
  color: #c1c4c8;
  font-weight: 600;
  font-size: 16px;
}

.navtop div a i {
  font-size: 14px;
  padding: 2px 8px 0 0;
}

.navtop div a:hover {
  color: #eaebed;
}

body.loggedin {
  background-color: #f3f4f7;
}

.content {
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 20px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}

.content .block {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}

.content .block p {
  padding: 5px;
  margin: 0 0 10px 0;
}

.content.profile form label {
  display: block;
  padding: 15px 0 10px 0;
  font-weight: 500;
  font-size: 14px;
  color: #4d4d4d;
}

.content.profile form input[type="text"],
.content.profile form input[type="password"],
.content.profile form input[type="email"] {
  padding: 10px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.content.profile .profile-detail {
  padding: 5px;
}

.content.profile .profile-detail strong {
  display: inline-block;
  color: #777;
  min-width: 120px;
  font-size: 16px;
}

.content.profile .profile-detail i {
  width: 28px;
  color: #aaabad;
}

.content.profile .profile-btn {
  display: inline-block;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #3274d6;
  margin: 20px 5px 0 0;
  padding: 10px 15px;
  border-radius: 4px;
  appearance: none;
  font-size: 14px;
}

.content.profile .profile-btn:hover {
  background-color: #2868c7;
}

@media screen and (max-width: 400px) {

  .login,
  .register {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .navtop {
    height: auto;
    padding: 10px;
  }

  .navtop div {
    flex-flow: wrap;
    width: 100%;
  }

  .navtop div h1 {
    display: block;
    flex-basis: 100%;
  }

  .navtop div a {
    padding: 10px 0;
    flex-basis: 50%;
  }

  .content {
    padding: 10px;
    width: 100%;
  }

  .content form input[type="text"],
  .content form input[type="password"],
  .content form input[type="email"] {
    width: 100%;
    max-width: 100%;
  }

  .profile-detail strong {
    width: 100%;
  }
}

/* // Maruf*/
#spinner-div {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 20000;
  transform: translate(-50%, -50%);
}
#select-product-error-text, #complete-order-error{
color:red
}
/* above loader */
#product-li{
  font-size: 12px;
  padding-bottom: 6px;
  /* height: 45px;
  list-style: none; */
  /* border-bottom: 0.8px solid #000; */
}
.product-li-name{
  width:200px
}
.product-li-quantity{
  width:70px
}
.product-li-price{
  width:100px
}
#table-user,#table-order
{
  overflow:scroll; 
  max-height:400px;
}
td ul {
  width: 100%;
  display: inline-block;
}
.table-users th{
  font-size: 12px;
}
#user-table-body td,#order-table-body td{
  font-size: 12px;
}
.delete-user-icon{
  padding:1px;
  color: red;
}
.delete-user-icon:hover{
  cursor: pointer;
}
.edit-user-icon{
  color:blue;
}
.edit-user-icon:hover{
  cursor: pointer;

}
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 15px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 1px solid blue;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .25);
  color: blue;
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}
