<link href="css/modal.css" rel="stylesheet" type="text/css">

<div class="page-wrapper">
    <div class="custom-modal">
      <div class="danger danger-animation icon-top"><i class="fa fa-times"></i></div>
      <div class="danger border-bottom"></div>
      <div class="content">
        <p class="type" id="failed_modal_title"></p>
        <p class="message-type" id="failed_modal_description"></p>
      </div>
    </div>
  </div>