<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer-widget-area">
      <div class="container pt-90 pb-60">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="tm-widget-contact-info contact-info-style1 contact-icon-theme-colored1">
              <div class="thumb">
                <img alt="Logo" src="images/testrxmd/Test-RXMD-Small-white.png">
              </div>
              <div class="description">3005 N National Rd, Columbus, IN 47203</div>
            </div>
            <ul class="styled-icons icon-dark icon-theme-colored1 icon-rounded clearfix">
              <li><a class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget">
              <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Latest News</h4>
              <div class="latest-posts">
                <article class="post clearfix pb-0 mb-20">
                  <a class="post-thumb" href="news-details.html"><img src="images/gallery/4.jpg" alt="images"></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0"><a href="news-details.html">New Treatment Options</a></h5>
                    <span class="post-date">
                      <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">April 15, 2022</time>
                    </span>
                  </div>
                </article>
                <article class="post clearfix pb-0 mb-20">
                  <a class="post-thumb" href="news-details.html"><img src="images/gallery/5.jpg" alt="images"></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0"><a href="news-details.html">New Online Appointments</a></h5>
                    <span class="post-date">
                      <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">May 15, 2022</time>
                    </span>
                  </div>
                </article>
                <article class="post clearfix pb-0 mb-20">
                  <a class="post-thumb" href="news-details.html"><img src="images/gallery/1.jpg" alt="images"></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0"><a href="news-details.html">Lab Services Available</a></h5>
                    <span class="post-date">
                      <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">June 15, 2022</time>
                    </span>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget widget_nav_menu split-nav-menu clearfix">
              <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Links</h4>
              <ul>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://form.jotform.com/212587273457161">Get Started</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
                <li><a href="#">Terms of use</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget">
              <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Operating Hours</h4>
              <div class="opening-hours border-dark">
                <ul>
                  <li class="clearfix"> <span> Monday - Friday :</span>
                    <div class="value"> 8:00am - 5:00pm EST</div>
                  </li>
                  <li class="clearfix"> <span> Saturday - Sunday : </span>
                    <div class="value"> Closed </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom" data-tm-bg-color="#2A2A2A">
        <div class="container">
          <div class="row pt-20 pb-20">
            <div class="col-sm-6">
              <div class="footer-paragraph">
                © 2022 TestRxMD All Rights Reserved
              </div>
            </div>
            <div class="col-sm-6">
              <div class="footer-paragraph text-right">
                HIPPA Compliant
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- end wrapper -->
