<!-- Footer -->
<footer id="footer" class="footer">
  <div class="footer-widget-area">
    <div class="container pt-90 pb-60">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-4">
          <div class="tm-widget-contact-info contact-info-style1 contact-icon-theme-colored1">
            <div class="thumb">
              <img alt="Logo" src="images/testrxmd/Test-RXMD-Small-white.png">
            </div>
            <div class="description">3005 N National Rd, Columbus, IN 47201</div>
          </div>
          <ul class="styled-icons icon-dark icon-theme-colored1 icon-rounded clearfix">
            <li><a class="social-link" href="https://www.facebook.com/testrxmd"><i class="fab fa-facebook"></i></a></li>
            <li><a class="social-link" href="https://www.instagram.com/testrxmd/"><i class="fab fa-instagram"></i></a>
            </li>
            <li><a class="social-link" href="mailto:info@testrxmd"><i class="fa fa-envelope"></i></a>
            </li>
            <li><a class="social-link" href="tel:812-296-6499"><i class="fa fa-phone"></i></a></li>
            </li>
            <li><a class="social-link"
                href="https://www.google.com/maps/place/TestRx+MD/@39.2296795,-85.8986729,15z/data=!4m5!3m4!1s0x0:0x90ff532080fce25a!8m2!3d39.2296795!4d-85.8986729"><i
                  class="fab fa-google"></i></a></li>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4">
          <div class="widget widget_nav_menu split-nav-menu clearfix">
            <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Links</h4>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/checkout">Telehealth &amp; Labs</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/privacypolicy">Privacy Policy</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/tos">Terms of Service</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4">
          <div class="widget">
            <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Operating Hours</h4>
            <div class="opening-hours border-dark">
              <ul>
                <li class="clearfix"> <span> Monday - Friday :</span>
                  <div class="value"> 8:00am - 5:00pm EST</div>
                </li>
                <li class="clearfix"> <span> Saturday - Sunday : </span>
                  <div class="value"> Closed </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-tm-bg-color="#2A2A2A">
      <div class="container">
        <div class="row pt-20 pb-20">
          <div class="col-sm-6">
            <div class="footer-paragraph">
              © 2022 TestRxMD All Rights Reserved
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footer-paragraph text-right">
              HIPAA Compliant
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->
