<link href="css/modal.css" rel="stylesheet" type="text/css">

<div class="page-wrapper d-none" id="success_modal_page">
    <div class="custom-modal">
      <div class="succes succes-animation icon-top"><i class="fa fa-check"></i></div>
      <div class="succes border-bottom"></div>
      <div class="content">
        <p class="type" id="success_modal_title"></p>
        <p class="message-type" id="success_modal_description"></p>
      </div>
    </div>
</div>