<link href="css/toast.css" rel="stylesheet" type="text/css">

<div id="success_toast_page" class="toast active">
  
    <div class="toast-content">
      <i class="fas fa-solid fa-check check"></i>
  
      <div class="message">
        <span class="text text-1" id="success_toast_title"></span>
      </div>
    </div>
    <i class="fas fa-times close"></i>
    <div class="progress active"></div>
</div>